

<div class="form-group">
	<label class="col-sm-2 control-label">用户id</label>
	<div class="col-sm-7">
		<input type="text" name="t11ExamStat.usrid" value="${t11ExamStat.usrid!}" 
		class="form-control" maxlength="100" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> 1-100个任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">考试id</label>
	<div class="col-sm-7">
		<input type="text" name="t11ExamStat.examid" value="${t11ExamStat.examid!}" 
		class="form-control" maxlength="100" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> 1-100个任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">考试成绩</label>
	<div class="col-sm-7">
		<input type="text" name="t11ExamStat.exam_grd" value="${t11ExamStat.exam_grd!}" 
		class="form-control" maxlength="100" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> 1-100个任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">考试状态</label>
	<div class="col-sm-7">
		<input type="text" name="t11ExamStat.exam_st" value="${escapeXml(t11ExamStat.exam_st!)}" 
		class="form-control" maxlength="100" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> 1-100个任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">考试渠道</label>
	<div class="col-sm-7">
		<input type="text" name="t11ExamStat.exam_channel" value="${escapeXml(t11ExamStat.exam_channel!)}" 
		class="form-control" maxlength="100" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> 1-100个任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">考试次数</label>
	<div class="col-sm-7">
		<input type="text" name="t11ExamStat.exam_num" value="${t11ExamStat.exam_num!}" 
		class="form-control" maxlength="100" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> 1-100个任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">维护时间</label>
	<div class="col-sm-7">
		<div class="input-group">
		<input type="text" name="t11ExamStat.tms" date-data-format="yyyy-mm-dd" data-data-viewmode="years" class="form-control data-picker" value="${t11ExamStat.tms!, dateFormat="yyyy-MM-dd HH:mm:ss"}">
		<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		</div>
		<span class="help-inline col-sm-2"></span>
	</div>
</div>
