@charset "utf-8";
*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
html,body{
	background-color: #aaf0ff;
	min-height: 100%;
}
body{
	margin: 0 auto!important;
}
a{
	color: #333333;
}
img{
	max-width: 100%;
	vertical-align: middle;
}
ul,li{
	list-style: none;
}
ul,li,ol{
	list-style: none;
	margin: 0;
	padding: 0;
}
h2,h3,h4{
	font-weight: normal;
}
input,textarea{
	font-family:-apple-system-font,Helvetica Neue,sans-serif
}
i{
	font-style: normal;
}
.wrap{
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -600px;
	margin-top: -337px;
	width: 1200px;
	height: 675px;
	z-index: 9;
	overflow: hidden;
	background: url(../images/bg.jpg) center top no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
}
.progress{
	position: relative;
	width: 1000px;
	height: 30px;
	border: 2px solid #375dae;
	background-color: #FFF;
	padding: 2px;
	border-radius: 4px;
	margin: 0 auto;
	margin-top: 50px;
}
.progress-bar {
	position: absolute;
	left: 2px;
	top: 2px;
	bottom: 2px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.progress-bar-striped, .progress-striped .progress-bar {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}
.progress-bar-info {
    background-color: #489be6;
}
.progress-value{
	position: absolute;
	top: 119%;
	width: 100%;
	z-index: 8;
	display: flex;
	text-align: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.progress-value div{
	color: #FFF;
	font-weight: bold;
    font-size: 14px;
	text-shadow: 0 0 4px #000000;
}
.main{
	position: absolute;
	top: 115px;
	left: 0;
	right: 0;
	bottom: 0;
}
.yun-box{
	display: block;
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 130px;
	height:80px;
}
.yun10{
	left: 790px;
	top:30px;
	background-image: url(../images/yun10.png);
}
.yun9{
	left: 930px;
	top:320px;
	background-image: url(../images/yun9.png);
}
.yun8{
	left: 780px;
	top:370px;
	background-image: url(../images/yun8.png);
}
.yun7{
	left: 630px;
	top:380px;
	background-image: url(../images/yun7.png);
}
.yun6{
	right: 0;
	top:50px;
	background-image: url(../images/yun6.png);
}
.yun4{
	left: 270px;
	top: 338px;
	background-image: url(../images/yun4.png);
}
.yun5{
	left: 530px;
	top: 318px;
	background-image: url(../images/yun5.png);
}
.yun3{
	left: 310px;
	top: 44px;
	background-image: url(../images/yun3.png);
}
.yun2{
	left: 110px;
	top: 304px;
	background-image: url(../images/yun2.png);
}
.yun1{
	left: 308px;
	top: 434px;
	background-image: url(../images/yun1.png);
}


.yun10.disable{
	background-image: url(../images/yun10_dis.png);
}
.yun9.disable{
	background-image: url(../images/yun9_dis.png);
}
.yun8.disable{
	background-image: url(../images/yun8_dis.png);
}
.yun7.disable{
	background-image: url(../images/yun7_dis.png);
}
.yun6.disable{
	background-image: url(../images/yun6_dis.png);
}
.yun4.disable{
	background-image: url(../images/yun4_dis.png);
}
.yun5.disable{
	background-image: url(../images/yun5_dis.png);
}
.yun3.disable{
	background-image: url(../images/yun3_dis.png);
}
.yun2.disable{
	background-image: url(../images/yun2_dis.png);
}
.yun1.disable{
	background-image: url(../images/yun1_dis.png);
}

.cat-box{
	display: block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 160px;
	height: 124px;
	position: absolute;
}
.cat1{
	top:140px;
	left: 120px;
	background-image: url(../images/tt1.png);
}
.cat2{
	top:250px;
	left: 380px;
	background-image: url(../images/tt2.png);
}
.cat3{
	top:80px;
	left: 470px;
	background-image: url(../images/tt3.png);
}
.cat4{
	top:80px;
	left: 590px;
	background-image: url(../images/tt4.png);
}
.cat5{
	top: 200px;
	left: 690px;
	background-image: url(../images/tt5.png);
}
.cat6{
	top: 110px;
	left: 900px;
	background-image: url(../images/tt6.png);
}
.cat1.disable{
	background-image: url(../images/tt1_dis.png);
}
.cat2.disable{
	background-image: url(../images/tt2_dis.png);
}
.cat3.disable{
	background-image: url(../images/tt3_dis.png);
}
.cat4.disable{
	background-image: url(../images/tt4_dis.png);
}
.cat5.disable{
	background-image: url(../images/tt5_dis.png);
}
.cat6.disable{
	background-image: url(../images/tt6_dis.png);
}

.badge {
	padding: 2px 5px;
    line-height: 20px;
    text-align: center;
    background-color: #0aa50a;
    color: white;
    font-size: 12px;
    font-weight: 700;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    right: 15px;
}

