<!DOCTYPE HTML>
<html>
<head>
<title>考试</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="Skate Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript">
	
		
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 


</script>
<!-- Bootstrap -->
<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!----font-Awesome----->
<link rel="stylesheet" href="/fonts/css/font-awesome.min.css">
<!----font-Awesome----->
<!-- start plugins -->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script src="/js/menu.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="/js/jquery.mixitup.min.js"></script>
<link href="/css/owl.carousel.css" rel="stylesheet">
<link href="/css/owl.theme.css" rel="stylesheet">
<!-- <link rel="stylesheet" href="/styles/jquery-labelauty.css"
	type="text/css" media="screen" charset="utf-8" /> -->
<!-- <link rel="stylesheet" href="/styles/lby-main.css" type="text/css"
	media="screen" charset="utf-8" /> -->
<!-- <script type="text/javascript" src="/js_rd/jquery-labelauty.js"></script> -->
<script type="text/javascript"
	src="http://code.jquery.com/jquery-latest.min.js"></script>
<!-- 弹出框样式及js -->
<link type="text/css" rel="stylesheet"
	href="/ui/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
<script src="/ui/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<style>
#owl-demo .owl-item div {
	padding: 5px;
	padding-left: 150px;
	padding-top: 15px;
	padding-right: 150px;
	padding-bottom: 15px;
	/*        text-indent:2em; /* 段首缩进2个字符 */ */
	font-family: "微软雅黑", "黑体", "宋体";
	font-size: 18px;
}

#owl-demo .owl-item img {
	display: block;
	width: 100%;
	height: auto;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
</style>
<style type="text/css">
.demo {
	/*        text-indent:2em; */ /* 段首缩进2个字符 */
	font-family: "微软雅黑", "黑体", "宋体";
	font-size: 20px;
	padding-left: 5px;
}

.title {
	/*        text-indent:2em; */ /* 段首缩进2个字符 */
	font-family: "微软雅黑", "黑体", "宋体";
	font-size: 25px;
	/*        height:800px； */
	/*        word-spacing:50px; */
	/*        background:pink; */
}

.score {
	padding-top: 130px;
	padding-right: 250px;
	padding-bottom: 160px;
	padding-left: 250px;
	/*        text-indent:2em; */ /* 段首缩进2个字符 */
	font-family: "微软雅黑", "黑体", "宋体";
	font-size: 25px;
	height: 800px；
}
</style>
<script src="/js/owl.carousel.js"></script>
<script type="text/javascript">
	$(function() {
		$("#owl-demo").owlCarousel({
			//autoPlay : 3000,
			stopOnHover : true,
			navigation : true,
			navigationText : [ "上一题", "下一题" ],
			paginationSpeed : 1000,
			//goToFirstSpeed : 2000,
			pagination : true,
			paginationNumbers : true,
			singleItem : true,
			autoHeight : true,
			transitionStyle : "fade"
		});
	});
</script>
<!-- <script type="text/javascript" src="/js/jquery.fancybox-1.2.1.js"></script> -->
<script type="text/javascript">
	$(document).ready(function() {
		// 判断是否可以进行考试
		isCanTest(1);
	});
</script>
<script type="text/javascript">
	//提交试卷操作确认
	function isSubmit() {
		var msg = "您确定要提交试卷吗?\n\n请确认！";
		if (confirm(msg) == true) {
			return true;
		} else {
			return false;
		}
	}
	var confirmNum = 0;
	//提交试卷操作确认
	function isSubmit2() {
		confirmNum = confirmNum + 1;
		submitExam();
	}

	//提交考试
	function submitExam() {
		/* 		if(confirmNum == 0){ */
		var obj1 = document.getElementsByName("agreeSubmit")
		var isAgreeSubmit = false;
		for (var i = 0; i < obj1.length; i++) { //遍历Radio   
			if (obj1[i].checked) {
				if (obj1[i].value == 1) {
					isAgreeSubmit = true;
				}
			}
		}
		if (!isAgreeSubmit) {
			$('#tip1Modal').modal('show');
			return;
		}
		/* 	 		$('#submitModal').modal('show');
		 return;
		 } else if(confirmNum < 3){
		 $('#submitModal').modal('show');
		 return;
		 } */

		// 提交确认，需要三次
		/*  		$('#submitModal').modal('show'); */
		// 提交确认次数重置为0 
		confirmNum = 0;
		/* 	if(!checkBoxCheckMore(flag))
		 return;*/
		/* 		if (isSubmit()) {
		 if (isSubmit()) {
		 if (isSubmit()) {
		 //提交试卷
		 } else
		 return;
		 } else
		 return;
		 } else
		 return; */
		var dataSet = new Array();

		for (var j = 1; j < 7; j++) {
			var obj = document.getElementsByName(j)
			var item = j + ":";
			for (var i = 0; i < obj.length; i++) { //遍历Radio   
				if (obj[i].checked) {
					item = item + obj[i].value;
				}
			}
			dataSet.push(item);
		}
		/* 			alert(dataSet); */
		var url;
		url = '/jf/puresport/t7Crcl/submitExam';
		var examid = document.getElementById("examid").value;
		$.ajax({
			type : 'POST',
			url : url,
			dataType : "json",
			traditional : true,
			data : {
				"dataSet" : dataSet,
				"examid" : examid
			},
			success : function(res) {
				if (res.code == "0000") {
					showDiv(4);
					var t2 = document.getElementById('scoreDesc');
					t2.innerText = res.desc;
				} else {
					alert(res.desc);
				}
			},
			dataType : "json"
		});
	}
</script>

<script type="text/javascript">
	function showDiv(flag) {
		if (flag == 1) {
			document.getElementById("mannulDiv").style.display = "none";
			document.getElementById("cantTestDiv").style.display = "";
			document.getElementById("showScoreDiv").style.display = "none";
			document.getElementById("doTestDiv").style.display = "none";
		} else if (flag == 2) {
			document.getElementById("mannulDiv").style.display = "";
			document.getElementById("cantTestDiv").style.display = "none";
			document.getElementById("showScoreDiv").style.display = "none";
			document.getElementById("doTestDiv").style.display = "none";
		} else if (flag == 3) {
			document.getElementById("mannulDiv").style.display = "none";
			document.getElementById("cantTestDiv").style.display = "none";
			document.getElementById("showScoreDiv").style.display = "none";
			document.getElementById("doTestDiv").style.display = "";
		} else if (flag == 4) {
			document.getElementById("mannulDiv").style.display = "none";
			document.getElementById("cantTestDiv").style.display = "none";
			document.getElementById("showScoreDiv").style.display = "";
			document.getElementById("doTestDiv").style.display = "none";
		}
	}

	// 判定用户是否有资格参加考试
	function isCanTest(flag) {
		var userid = "333";
		var url;
		url = '/jf/puresport/t5CrclStdy/isCanTest';
		$.ajax({
			type : 'POST',
			url : url,
			dataType : "json",
			traditional : true,
			data : {
				userid : userid
			},
			success : function(res) {
				if (res.code == "0000") {
					if (flag == 2) {
						showDiv(3);
					} else if (flag == 1) {
						showDiv(2);
					}
				} else {
					/* 							alert(res.desc); */
					showDiv(1);
					var t2 = document.getElementById('cantTestDesc');
					t2.innerText = res.desc;
				}
			},
			dataType : "json"
		});
	}
</script>
<style type="text/css">
.prblSelect {
	width: 850px;
}

.prblSelect:hover {
	background-color: #CCFFCC;
}
</style>
</head>
<body>
	<% include("/f/header.html"){} %>
	<div class="main_bg">
		<!-- start main -->
		<div class="container">
			<div class="main_grid1">
				<h3 class="style pull-left">考试</h3>
				<ol class="breadcrumb pull-right">
					<li><a href="${cxt!}/jf/puresport/pagesController">首页</a></li>
					<li class="active">准入</li>
					<li class="active">考试</li>
				</ol>
			</div>
		</div>
	</div>
<div class="main_btm1">
	<!-- 第一页：考试说明 -->
	<div id="mannulDiv" class="demo" style="display: none;">
		<div class="container">
			<h2 align="center">考 试 说 明</h2>
			<ul>
				<li align="left">点击“开始”按钮开始进入考试；</li>
				<li>考试过程中请注意保持浏览器客户端在线状态，不要强制刷新或者断开网络，否则考试将终止；</li>
				<li>所有试题完成后，并确认提交，系统才保存记录成绩；</li>
				<li>试题题型包含不定项选择题和判断题各10道，每道题5分，共100分；</li>
				<li>考试成绩60分及以上视为及格；</li>
				<li>可以进行多次考试，每次考试试题随机。多次参加考试的，视最后一次提交的成绩为最终成绩；</li>
				<li>如有考试相关的其他疑问请联系管理员；</li>
				<li>请遵守考试规定，按时完成测试。</li>
			</ul>
			<div align="center">
				<button onclick="isCanTest(2)" class="btn">点击开始考试</button>
			</div>
		</div>
		<br>
	</div>
	<!-- 最后部分：提交成功，展示成绩-->
	<div id="showScoreDiv" class="score" style="display: none;">
		<div align="center">
			<p id="scoreDesc"></p>
		</div>
	</div>
	<!-- 开始部分：学习没完成，无资格考试-->
	<div id="cantTestDiv" class="score" style="display: none;">
		<div align="center" hight="300">
			<p id="cantTestDesc"></p>
			<table height="60">
			</table>
			<button
				onclick="window.location.href='/jf/puresport/t7Crcl/queryCrcl'"
				class="btn">跳转到课程学习</button>
		</div>
	</div>

	<div class="container" id="doTestDiv" style="display: none;">
		<!--  start cursual  -->
		<div id="owl-demo" class="owl-carousel">
			<%for(x in examSelectList){ %>
			<div>
				<label>【不定项选择题】 第${x.prblmno}题： ${x.ttl!} </label></br> </br> <label
					for=${x.prblmid!}A class="prblSelect" style="font-weight: lighter">
					<input type="checkbox" name=${x.prblmno!} value=A id=${x.prblmid!}A>
					<!-- ${x.prblmid!} --> ${x.optA!}
				</label> </br> <label for=${x.prblmid!}B class="prblSelect"
					style="font-weight: lighter"> <input type="checkbox"
					name=${x.prblmno!} value=B id=${x.prblmid!}B> <!-- ${x.prblmid!} -->
					${x.optB!}
				</label> </br> <label for=${x.prblmid!}C class="prblSelect"
					style="font-weight: lighter"> <input type="checkbox"
					name=${x.prblmno!} value=C id=${x.prblmid!}C> <!-- ${x.prblmid!} -->
					${x.optC!}
				</label> </br> <label for=${x.prblmid!}D class="prblSelect"
					style="font-weight: lighter"> <input type="checkbox"
					name=${x.prblmno!} value=D id=${x.prblmid!}D> <!-- ${x.prblmid!} -->
					${x.optD!}
				</label> </br>
			</div>
			<%}%> <%for(y in examDeducList){ %>
			<div>
				<label>【判断题】 第${y.prblmno}题： ${y.ttl!} </label></br> </br> <label
					for=${y.prblmid!}A class="prblSelect" style="font-weight: lighter">
					<input type="radio" name=${y.prblmno!} value=A id=${y.prblmid!}A>
					正 确<!-- ${y.prblmid!} -->
				</label> </br> </br> <label for=${y.prblmid!}B class="prblSelect"
					style="font-weight: lighter"> <input type="radio"
					name=${y.prblmno!} value=B id=${y.prblmid!}B> 错 误<!-- ${y.prblmid!} -->
				</label> </br> </br>
			</div>
			<%}%>

			<!-- 最后一页：考试提交说明 -->
			<div id="mannulDiv">
				<h2 align="center">考试提交说明</h2>
				<li>请确认试题已经全部做完，然后在本页选择“同意”，同意后可点击提交试卷；</li>
				<li>可以进行多次考试，每次考试试题随机。多次参加考试的，视最后一次提交的成绩为最终成绩；</li>
				<li>“提交”前可以返回修改试题答案，但是“提交”后将实时计算成绩且不能再进行修改；</li>
				<li>提交失败或有其他疑问请联系管理员处理；</li>
				<li>点击“同意”后，才能提交考试成绩。</li>
				<div align="center">
					<label style="font-weight: lighter"> <input type="radio"
						name="agreeSubmit" value="1"> 同意
					</label> &nbsp &nbsp <label style="font-weight: lighter"> <input
						type="radio" name="agreeSubmit" value="0"> 拒绝
					</label>
				</div>
				<div align="center">
					<button onclick="submitExam()" class="btn">提交试卷</button>
				</div>
			</div>
		</div>
	</div>
	<!-- submit Modal-->
	<div class="modal fade" id="submitModal" tabindex="-1" role="dialog"
		aria-labelledby="submitModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header" align="center">
					<h5 class="modal-title">提 示</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" align="center">提交后不能再修改答案，请您再次确认是否要提交考试?</div>
				<div class="modal-footer" align="center">
					<button type="button" onclick="isSubmit2()" class="btn"
						data-dismiss="modal">确定</button>
					<button type="button" class="btn" data-dismiss="modal">取消</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	<!-- tip1 Modal-->
	<div class="modal fade" id="tip1Modal" tabindex="-1" role="dialog"
		aria-labelledby="tip1ModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header" align="center">
					<h5 class="modal-title">提 示</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" align="center">对不起，选择"同意"后才能提交试卷！</div>
				<div class="modal-footer" align="center">
					<button type="button" class="btn" data-dismiss="modal">确定</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	</div>
	<!-- start footer -->
	<% include("/f/footer.html"){} %>
	<!-- end footer -->
	<input type="hidden" id="examid" value="${examid!'-1'}">
	</input>
</body>
</html>