<!DOCTYPE HTML>
<html>
<head>
<title>${session['which_competition']}反兴奋剂教育准入考试英雄榜</title>
<link rel="shortcut icon" href="${cxt!}/images/favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="Skate Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

<!-- 浏览器不缓存 -->
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="0">

<script type="application/x-javascript">
			
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 
</script>
<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!----font-Awesome----->
<link rel="stylesheet" href="/fonts/css/font-awesome.min.css">
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script src="/js/menu.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="/js/jquery.mixitup.min.js"></script>

<meta charset="utf-8">
<script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/js_zhuchaobin/jquery.qrcode.min.js"></script>

<!-- 弹出框样式及js -->
<link type="text/css" rel="stylesheet"
	href="/ui/bootstrap-3.3.7-dist/css/bootstrap.min.css">

<script src="/ui/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

<style type="text/css">
.demo {
	/*        text-indent:2em; */ /* 段首缩进2个字符 */
	font-family: "微软雅黑", "黑体", "宋体";
	font-size: 20px;
	padding-left: 5px;
}
.title {
	font-family: "微软雅黑", "黑体", "宋体";
	font-size: 25px;
}
.score {
	padding-top: 130px;
	padding-right: 250px;
	padding-bottom: 160px;
	padding-left: 250px;
	/*        text-indent:2em; */ /* 段首缩进2个字符 */
	font-family: "微软雅黑", "黑体", "宋体";
	font-size: 25px;
	height: 600px；
}



</style>
<script type="text/javascript">
	$(function() {
		var str = "${cxt!''}${certificatePath!'/images_zcb/certificates/certificateDefault.jpg'}";
		str = toUtf8(str);
		/* 	$('#code').qrcode(str); */
		$("#code").qrcode({
			render : "table",
			width : 130,
			height : 130,
			text : str
		});
	})

	function toUtf8(str) {
		var out, i, len, c;
		out = "";
		len = str.length;
		for (i = 0; i < len; i++) {
			c = str.charCodeAt(i);
			if ((c >= 0x0001) && (c <= 0x007F)) {
				out += str.charAt(i);
			} else if (c > 0x07FF) {
				out += String.fromCharCode(0xE0 | ((c >> 12) & 0x0F));
				out += String.fromCharCode(0x80 | ((c >> 6) & 0x3F));
				out += String.fromCharCode(0x80 | ((c >> 0) & 0x3F));
			} else {
				out += String.fromCharCode(0xC0 | ((c >> 6) & 0x1F));
				out += String.fromCharCode(0x80 | ((c >> 0) & 0x3F));
			}
		}
		return out;
	}
</script>
<style type="text/css">
.prblSelect {
	width: 850px;
}

.prblSelect:hover {
	background-color: #CCFFCC;
}
</style>
</head>
<body>
	<% include("/f/header.html"){} %>
 	<div class="main_bg">
		<div class="container">
			<div class="main_grid1">
				<h3 class="style pull-left">${which_competition!''}准入考试英雄榜</h3>
			</div>
		</div>
	</div>
	<!-- class="alert alert-info" -->
	<div class="alert alert-info">
	<div class="row">
	<div class="col-md-3 "></div>
	<div class="col-md-6 " align="center" >
	<div class="span4_of_list" width="100%" >
	<table class="table table-striped2" align="center"> <!-- background="/images_zcb/rank9.png" --> 
	<thead>
		<tr style="background-image:url('/images_zcb/tr_bg.jpg');">
			<th align="center"><h3>排名</h3></th>
			<th align="center"><h3>分数</h3></th>
			<th align="center"><h3>姓名</h3></th>
			<th align="center"><h3>项目</h3></th>
			<th align="center"><h3>地区</h3></th>
			<th align="center"><h3>时间</h3></th>
		</tr>
	</thead>
	<tbody>
	
		<tr style="${t11SelfDisplay!''}">
			<td><div style="color:${t11Self.rank!'#454545'}"><h5>第${t11Self.id!''}名</h5></div></td>	
			<td><div style="color:${t11Self.rank!'#454545'}"><h5>${t11Self.exam_grd!''}</h5></div></td>
			<td><div style="color:${t11Self.rank!'#454545'}"><h5>${t11Self.nm!'虚位以待'}</h5></div></td>
			<td><div style="color:${t11Self.rank!'#454545'}"><h5>${t11Self.spt_prj!''}</h5></div></td>
			<td><div style="color:${t11Self.rank!'#454545'}"><h5>${t11Self.province!''}${t11Self.city!''}</h5></div></td>
			<td><div style="color:${t11Self.rank!'#454545'}"><h5>${t11Self.strTms!''}</h5></div></td>			
		</tr>
		
				<%for(x in heroList10){ %>
			<tr>
			<td>
				<img src="/images_zcb/${x.rankImg!''}" width="35" height="40" >
			</td>	
			<td><div style="color:${x.rank!'#454545'}"><h5>${x.exam_grd!''}</h5></div></td>
			<td><div style="color:${x.rank!'#454545'}"><h5>${x.nm!'虚位以待'}</h5></div></td>
			<td><div style="color:${x.rank!'#454545'}"><h5>${x.spt_prj!''}</h5></div></td>
			<td><div style="color:${x.rank!'#454545'}"><h5>${x.province!''}${x.city!''}</h5></div></td>
			<td><div style="color:${x.rank!'#454545'}"><h5>${x.strTms!''}</h5></div></td>			
		</tr>
		<%}%> 
			<%for(x in heroList100){ %>
			<tr>
<!-- 			<td>
				<img src="/images_zcb/${x.rankImg!''}" width="35" height="40" >
			</td>	 -->
			<td><div style="color:${x.rank!'#454545'}"><h5>第${x.id!''}名</h5></div></td>	
			<td><div style="color:${x.rank!'#454545'}"><h5>${x.exam_grd!''}</h5></div></td>
			<td><div style="color:${x.rank!'#454545'}"><h5>${x.nm!'虚位以待'}</h5></div></td>
			<td><div style="color:${x.rank!'#454545'}"><h5>${x.spt_prj!''}</h5></div></td>
			<td><div style="color:${x.rank!'#454545'}"><h5>${x.province!''}${x.city!''}</h5></div></td>		
			<td><div style="color:${x.rank!'#454545'}"><h5>${x.strTms!''}</h5></div></td>	
		</tr>
		<%}%> 
		
	</tbody>
</table>
</div>
</div>
<div class="col-md-3"></div>
</div>
  
  	<% include("/f/footer.html"){} %>
</div>
</body>
</html>