<!DOCTYPE HTML>
<html>
<head>
<title>学习</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="Skate Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript">	
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 
</script>
<!-- Bootstrap -->
<link href="${cxt!}/ui/bootstrap-3.3.7-dist/css/bootstrap.min.css"
	rel='stylesheet' type='text/css' />
<link href="${cxt!}/css/style.css" rel="stylesheet" type="text/css"
	media="all" />
<!-- start plugins -->
<script type="text/javascript" src="${cxt!}/js/puresport.js"></script>
<script type="text/javascript" src="${cxt!}/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript"
	src="${cxt!}/ui/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<!--start slider -->
<link rel="stylesheet" href="${cxt!}/css/fwslider.css" media="all">
<script src="${cxt!}/js/fwslider.js"></script>
<!--end slider -->
<!-- must have -->
<link href="${cxt!}/css/allinone_carousel.css" rel="stylesheet"
	type="text/css">
<script src="${cxt!}/js/jquery-ui-1.8.16.custom.min.js"
	type="text/javascript"></script>
<script src="${cxt!}/js/allinone_carousel.js" type="text/javascript"></script>
<script src="${cxt!}/js_zhuchaobin/layer/layer.js" type="text/javascript"></script>
	
<script type="text/javascript">
		function show2(){
		document.getElementById("doTestDiv").style.display="";
		document.getElementById("mannulDiv").style.display="none";		
		//alert(document.getElementById("div").style.display)
		}
		function show(){
			$("tachu").show();
		}
</script>
<script type="text/javascript">
$(document).ready(function(){
	// 0.4代表遮罩的透明度
	$('.banner div').css('opacity',0.2);
	$('.banner').hover(function(){
		var el = $(this);		
		// 先淡出阴影，后淡入文字
		el.find('div').stop().animate({width:200,height:200},'slow',function(){
			el.find('p').fadeIn('fast');
		});
	},function(){
		var el = $(this);		
		// 隐藏文字
		el.find('p').stop(true,true).hide();		
		// 去掉遮罩
		el.find('div').stop().animate({width:60,height:60},'fast');
	}).click(function(){		
		// 点击图片时打开链接		
		window.open($(this).find('a').attr('href'));		
	});
});
</script>
<script type="text/javascript">
function toUtf8(str) {
	var out, i, len, c;
	out = "";
	len = str.length;
	for (i = 0; i < len; i++) {
		c = str.charCodeAt(i);
		if ((c >= 0x0001) && (c <= 0x007F)) {
			out += str.charAt(i);
		} else if (c > 0x07FF) {
			out += String.fromCharCode(0xE0 | ((c >> 12) & 0x0F));
			out += String.fromCharCode(0x80 | ((c >> 6) & 0x3F));
			out += String.fromCharCode(0x80 | ((c >> 0) & 0x3F));
		} else {
			out += String.fromCharCode(0xC0 | ((c >> 6) & 0x1F));
			out += String.fromCharCode(0x80 | ((c >> 0) & 0x3F));
		}
	}
	return out;
}

/* function test() {
	url = "/jf/puresport/t7Crcl/video_play?crcl_attr=${t7.crcl_attr!''}&crcl_file_rte=${t7.crcl_file_rte!''}&stdy_st_hidden=${stdy_st_hidden!'0'}&crclid=${t7.crclid!'0'}";
	alert(url);
 	url = toUtf8(url); 
 	alert(url); 
	window.location.href=url;// 进行下一步学习
} */


/* //根据长约id查询订单列表
function getOrderListByArId(arId) {
		//iframe窗
			layer.open({
		type: 2,
		title: '长约 ['+arId+'] 订单列表',
		shadeClose: true,
		shade: true,
		maxmin: true, //开启最大化最小化按钮
		area: ['1024px', '600px'],
		content: '/orderManagement/list_by_ar?arId='+arId
	});
} */
// 判断pc端还是mobile端
var browser={
	    versions:function(){ 
	           var u = navigator.userAgent, app = navigator.appVersion; 
	           return {  // 移动终端浏览器版本信息 
	                trident: u.indexOf('Trident') > -1,  // IE内核
	                presto: u.indexOf('Presto') > -1,    // Opera内核
	                webKit: u.indexOf('AppleWebKit') > -1,  // 苹果、谷歌内核
	                gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1,  // 火狐内核
	                mobile: !!u.match(/AppleWebKit.*Mobile.*/)||!!u.match(/AppleWebKit/)&&u.indexOf('QIHU')&&u.indexOf('Chrome')<0,  // 是否为移动终端  
	                ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/),  // iOS终端
	                android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1,  // Android 终端或者 UC 浏览器
	                iPhone: u.indexOf('iPhone') > -1 || u.indexOf('Mac') > -1,  // 是否为 iPhone 或者 QQHD 浏览器
	                iPad: u.indexOf('iPad') > -1,   // 是否 iPad
	                webApp: u.indexOf('Safari') == -1,   // 是否WEB应该程序，没有头部与底部。
	                ua:u 
	            };
	         }(),
	         
	         language:(navigator.browserLanguage || navigator.language).toLowerCase()
	};
 function toCourseList() {
	// window.location.href="${cxt!}/jf/puresport/t7Crcl/course_list_tokyo_2";// 进行下一步学习
	 if(!browser.versions.mobile||browser.versions.iPad){
	  // pc 端
	 	window.location.href="${cxt!}/jf/puresport/pagesController/jifenPageRedirect?t=1";// 进行下一步学习
	 } else {
		window.location.href="${cxt!}/jf/puresport/pagesController/jifenPageRedirect?t=2";// 进行下一步学习
	 }
} 

//
function openCourse() {
		alert("xxxx");
		//iframe窗
			layer.open({
		type: 2,
		title: '订单列表',
		shadeClose: true,
		shade: true,
		maxmin: true, //开启最大化最小化按钮
		area: ['1024px', '800px'],
		content: '${cxt!}/course/scormcontent/index.html'
	});
}

</script>
</head>
<body>
<style type="text/css">
.demo {
	/*        text-indent:2em; */ /* 段首缩进2个字符 */
	font-family: "微软雅黑", "黑体", "宋体";
	font-size: 20px;
	padding-left: 5px;
}
.title {
	/*        text-indent:2em; */ /* 段首缩进2个字符 */
	font-family: "微软雅黑", "黑体", "宋体";
	font-size: 25px;
	/*        height:800px； */
	/*        word-spacing:50px; */
	/*        background:pink; */
}
</style>
</style>
<% include("/f/header.html"){} %>
	<div class="main_bg">
		<!-- start main -->
		<div class="container">
			<div class="main_grid1">
				<h3 class="style pull-left">学习</h3>
				<h3 class="style pull-right">${session['which_competition']}</h3>
			</div>
		</div>
	</div>
	<!-- start main_btm -->
	<div class="main_btm1">
		<!-- 第一页：学习说明 -->
		<div id="mannulDiv3" class="demo">
			<div class="container">
				<h2 align="center">准入学习须知</h2>
				</br>
				<div class="row">
					<div class="col-md-1 myTest"></div>
					<div class="col-md-10 myTest">
						<ul id="study_entrance">
							<script>
								var which_competition ='${session["which_competition"]}';
								
									/* $("#study_entrance").html(
											"<li>1.本次准入学习共分为六个部分，准入对象须观看${session['which_competition']}反兴奋剂六项规定视频，案例篇视频选学，流程篇视频选学后，方可进入考试页面;</li>"
									+"<li>2.考试过程中请注意保持浏览器客户端在线状态，不要强制刷新或者断开网络，否则学习记录将会丢失;</li>"
									+"<li>3.每个账号最多可以答题3次，如答题次数达到上限，不能再进行答题。</li>"); */
									
									$("#study_entrance").html("线上准入包括以下步骤："
									+"<li>1.线上学习。线上课件内容包括6门专项课程，包含“兴奋剂检查中运动员的权利与义务”、“行踪信息申报”、“防范误服误用”、“以案为鉴，兴奋剂违规和后果”、“治疗用药豁免”、“东京奥运会反兴奋剂规则”和10项针对性、提示性学习，包含奥运会备战期间发布的风险防控通知、易发频发问题等。</li>"
									+"<li>2.线上考试</li>"
									+"准入成绩以线上准入考试成绩为准。满分为100分，达到80分及以上为及格。获得积分的方式有以下两种："
									+"<p>（1）6门专项课程（90分）</p>"
									+"<p>准入对象完成每门线上专项课程学习后，均须完成考试。每门专项课程考试各设15题（判断题和单选题），每题1分，总分15分。<font color='#FF0000'>每门专项培训课程仅设3次考试机会，请认真学习课程后做答。</font>考试成绩以最高分为最终成绩。</p>"
									+"<p>（2）10项针对性、提示性学习（10分）</p>"
									+"<p>准入对象阅读推送内容，完成小测验后可获得积分，每项积分1分，共10分。CADEP系统将设置个人积分进度条，准入对象可对个人积分情况进行实时查看。运动员在完成以上考试内容，达到80以上可以生成东京奥运会准入合格证书。</p>"
									+"<li>3.承诺和宣誓</li>"
									+"在线上完成所有规定学习、考试内容之后，准入对象须在线阅读反兴奋剂承诺书后按照系统提示完成承诺环节。</p>"
									+"<li>4.学习考试过程中请注意保持浏览器客户端在线状态，不要强制刷新或者断开网络，否则学习记录将会丢失。</li>");


							</script>
							
						</ul>
					</div>
					<div class="col-md-2 myTest"></div>
				</div>
			</div>
			<div align="center">
				<!-- <button onclick="test()"  class="btn">点击学习课程</button> -->
<!-- 				<button onclick="${cxt!}/course/scormcontent/index.html" class="btn">点击学习课程</button>	 -->
			<!-- 	<a href="${cxt!}/course/scormcontent/index.html" target="_blank">点击学习课程</a>	 -->
				<button onclick="toCourseList()" class="btn">点击学习课程</button>		
		
			</div>
			</br>
		</div>
	</div>
	<% include("/f/footer.html"){} %>
</body>
</html>