<!DOCTYPE HTML>
<html>
<head>
<title>课程学习</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="Skate Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript">
	
	
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 


</script>
<!-- Bootstrap -->
<link href="${cxt!}/ui/bootstrap-3.3.7-dist/css/bootstrap.min.css"
	rel='stylesheet' type='text/css' />
<link href="${cxt!}/css/style.css" rel="stylesheet" type="text/css"
	media="all" />
<!-- start plugins -->
<script type="text/javascript" src="${cxt!}/js/puresport.js"></script>
<script type="text/javascript" src="${cxt!}/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript"
	src="${cxt!}/ui/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<!--start slider -->
<link rel="stylesheet" href="${cxt!}/css/fwslider.css" media="all">
<script src="${cxt!}/js/fwslider.js"></script>
<!--end slider -->
<!-- must have -->
<link href="${cxt!}/css/allinone_carousel.css" rel="stylesheet"
	type="text/css">
<script src="${cxt!}/js/jquery-ui-1.8.16.custom.min.js"
	type="text/javascript"></script>
<script src="${cxt!}/js/allinone_carousel.js" type="text/javascript"></script>
<script type="text/javascript">
		function show2(){
		document.getElementById("doTestDiv").style.display="";
		document.getElementById("mannulDiv").style.display="none";
		
		//alert(document.getElementById("div").style.display)
		}
		function show(){
			$("tachu").show();
		}
	</script>

<!-- 自定义样式 -->
<!-- <link href="/css_zhuchaobin/font_.css" rel='stylesheet' type='text/css' /> -->

<script>
$(document).ready(function(){
	// 0.4代表遮罩的透明度
	$('.banner div').css('opacity',0.2);
	$('.banner').hover(function(){
		var el = $(this);		
		// 先淡出阴影，后淡入文字
		el.find('div').stop().animate({width:200,height:200},'slow',function(){
			el.find('p').fadeIn('fast');
		});
	},function(){
		var el = $(this);		
		// 隐藏文字
		el.find('p').stop(true,true).hide();		
		// 去掉遮罩
		el.find('div').stop().animate({width:60,height:60},'fast');
	}).click(function(){		
		// 点击图片时打开链接		
		window.open($(this).find('a').attr('href'));		
	});
});
</script>

<!-- 代码 结束 -->

</head>
<body>


	<style type="text/css">
.demo {
	/*        text-indent:2em; */ /* 段首缩进2个字符 */
	font-family: "微软雅黑", "黑体", "宋体";
	font-size: 20px;
	padding-left: 5px;
}

.title {
	/*        text-indent:2em; */ /* 段首缩进2个字符 */
	font-family: "微软雅黑", "黑体", "宋体";
	font-size: 25px;
	/*        height:800px； */
	/*        word-spacing:50px; */
	/*        background:pink; */
}
</style>

	</style>

	<% include("/f/header.html"){} %>

	<div class="main_bg">
		<!-- start main -->
		<div class="container">
			<div class="main_grid1">
				<h3 class="style pull-left">学习</h3>
				<h3 class="style pull-right">省运会</h3>
			</div>
		</div>
	</div>

	<!-- start main_btm -->
	<div class="main_btm1">
		<!-- 第一页：学习说明 -->
		<div id="mannulDiv3" class="demo" >
			<div class="container">
				<h2 align="center">准入学习须知</h2>
				</br>
				<div class="row">
					<div class="col-md-1 myTest"></div>
					<div class="col-md-10 myTest" >
						<ul>
							<li>1.本次准入学习共分为三个部分，准入对象须观看省运会反兴奋剂六项规定视频，案例篇视频选学，流程篇视频选学后，方可进入考试页面。</li>
							</br>
							<li>2.考试过程中请注意保持浏览器客户端在线状态，不要强制刷新或者断开网络，否则学习记录将会丢失。</li>
						</ul>
					</div>
					<div class="col-md-2 myTest"></div>
				</div>
			</div>

			<div align="center">
				<button
					onclick="window.location.href='/jf/puresport/t7Crcl/video_play?crcl_attr=${t7.crcl_attr!''}&crcl_file_rte=${t7.crcl_file_rte!''}&stdy_st_hidden=${stdy_st_hidden!'0'}&crclid=${t7.crclid!'0'}&crcl_nm=${t7.crcl_nm!'0'}'"
					class="btn">点击学习课程</button>
					<br>
			</div>
		</div>
	</div>
	<% include("/f/footer.html"){} %>
</body>
</html>