<!DOCTYPE HTML>
<html>
<head>
<title>学习</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="Skate Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript">
		
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 

</script>
<!-- Bootstrap -->
<link href="${cxt!}/ui/bootstrap-3.3.7-dist/css/bootstrap.min.css"
	rel='stylesheet' type='text/css' />
<link href="${cxt!}/css/style.css" rel="stylesheet" type="text/css"
	media="all" />
<!-- start plugins -->
<script type="text/javascript" src="${cxt!}/js/puresport.js"></script>
<script type="text/javascript" src="${cxt!}/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript"
	src="${cxt!}/ui/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<!--start slider -->
<link rel="stylesheet" href="${cxt!}/css/fwslider.css" media="all">
<script src="${cxt!}/js/fwslider.js"></script>
<!--end slider -->
<!-- must have -->
<link href="${cxt!}/css/allinone_carousel.css" rel="stylesheet"
	type="text/css">
<script src="${cxt!}/js/jquery-ui-1.8.16.custom.min.js"
	type="text/javascript"></script>
<script src="${cxt!}/js/allinone_carousel.js" type="text/javascript"></script>
<script>
	$(document).ready(function() {
		// 0.4代表遮罩的透明度
		$('.banner div').css('opacity', 0.2);
		$('.banner').hover(function() {
			var el = $(this);
			// 先淡出阴影，后淡入文字
			el.find('div').stop().animate({
				width : 200,
				height : 200
			}, 'slow', function() {
				el.find('p').fadeIn('fast');
			});
		}, function() {
			var el = $(this);
			// 隐藏文字
			el.find('p').stop(true, true).hide();
			// 去掉遮罩
			el.find('div').stop().animate({
				width : 60,
				height : 60
			}, 'fast');
		}).click(function() {
			// 点击图片时打开链接		
			window.open($(this).find('a').attr('href'));
		});
	});
</script>
<script>
	function do_jump() {
		var stdy_st_hidden = document.getElementById("stdy_st_hidden").value;
		var action_hidden = document.getElementById("action_hidden").value;
		if (stdy_st_hidden == 1) {
			window.location.href = action_hidden;// 进行下一步
		} else {
			// 提示当前课程必须学完才能下一步
			$('#tipModal').modal('show');
			return;
		}
	}
</script>
<link rel="stylesheet" type="text/css" href="/css_zhuchaobin/lrtk.css"
	media="all">
</head>
<body>
	<style type="text/css">
.title {
	padding-top: 20px;
	padding-bottom: 10px;
	text-indent: 2em; /* 段首缩进2个字符  */
	font-family: "微软雅黑", "黑体", "宋体";
	font-size: 18px;
}

.paragh {
	padding-top: 5px;
	padding-bottom: 15px;
	text-indent: 2em; /* 段首缩进2个字符  */
	font-family: "微软雅黑", "黑体", "宋体";
	font-size: 18px;
}

#tachu {
	position: absolute;
	width: 240px;
	top: 240px;
	left: screen.(width-240)/2;
	z-index: 999;
}
</style>
	<link href="/css/video-js.css" rel="stylesheet">
	<% include("/f/header.html"){} %>
	<div class="main_bg">
		<!-- start main -->
		<div class="container">
			<div class="main_grid1">
				<h3 class="style pull-left">学习</h3>
				<h3 class="style pull-right">省运会</h3>
			</div>
		</div>
	</div>
	<!-- start main_btm -->
	<div class="main_btm1">
		<!-- start main_btm -->
		<div class="container">
			<!-- 必修视频课程一 -->
			<div class="title" >${course_title!''}</div>
			<!-- 代码 开始 -->
			<div id="container">
				<%for(x in t7List){ %>
				<div class="banner">
					<a
						href="/jf/puresport/t7Crcl/video_play?crcl_attr=${x.crcl_attr!''}&crcl_file_rte=${x.crcl_file_rte!''}&stdy_st=${x.stdy_st!'0'}&stdy_st_hidden=${stdy_st_hidden!'0'}&crclid=${x.crclid!'0'}&crcl_nm=${x.crcl_nm!''}&crcl_brf=${x.crcl_brf!''}"
						target="_self"> <img height="125" width="125"
						alt="The Best Designs"
						src="/materials/video/thumbnail_rte/${x.thumbnail_rte!'fyh.jpg'}" />
					</a>
					<p class="companyInfo">${x.crcl_nm!''}</p>
					<div class="cornerTL"></div>
					<div class="cornerTR"></div>
					<div class="cornerBL"></div>
					<div class="cornerBR"></div>
				</div>
				<input type="hidden" name="stdy_st_hidden" id="stdy_st_hidden"
					value="${stdy_st_hidden!'0'}"> <input type="hidden"
					name="action_hidden" id="action_hidden" value="${action_hidden!''}">
				</input> <%}%>
				<!-- Examples body -->
			</div>
			<br>
			<!-- END_CONTAINER -->
		</div>
		<div align="center">
			<button onclick="do_jump()" class="btn">下一步</button>
		</div>
		<br>
	</div>

	<!-- tip1 Modal-->
	<div class="modal fade" id="tipModal" tabindex="-1" role="dialog"
		aria-labelledby="tip1ModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header" align="center">
					<h5 class="modal-title">友情提示</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" align="center">对不起，当前课程学习完成才能进行后续环节！</div>
				<div class="modal-footer" align="center">
					<button type="button" class="btn" data-dismiss="modal">确定</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>


	<% include("/f/footer.html"){} %>
</body>
</html>