
<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('/puresport/index');">${i18nMap["admin.common.mainPage"]}</a></li>
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('${pthc}');">管理员权限信息表管理</a></li>
			<li class="active">查看</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<!-- start: BORDERED TABLE PANEL -->
		<div class="panel panel-white">
			
			<div class="panel-heading">
				<h4 class="panel-title"><span class="text-bold">查看</span></h4>
				<div class="panel-tools">										
					<% include("/common/panel-tools.html"){} %>
				</div>
			</div>
			<div class="panel-body">	
				<form role="form" class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label">id </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${t6MgrAhr.usrid!}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">用户类型 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t6MgrAhr.usr_tp!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">用户名 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t6MgrAhr.usr_nm!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">姓名 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t6MgrAhr.nm!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">证件类型 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t6MgrAhr.crdt_tp!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">证件号 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t6MgrAhr.crdt_no!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">性别 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t6MgrAhr.gnd!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">工作单位 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t6MgrAhr.wrk_unit!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">密码 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t6MgrAhr.pswd!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">职务 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t6MgrAhr.post!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">出生日期 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t6MgrAhr.brth_dt!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">行政区划代码 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t6MgrAhr.adiv_cd!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">协会id </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t6MgrAhr.asscid!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">手机号 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t6MgrAhr.mblph_no!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">维护时间 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${t6MgrAhr.tms!, dateFormat="yyyy-MM-dd HH:mm:ss"}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">国家省市管理员id </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${t6MgrAhr.cty_prov_city_mgrid!}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">协会管理员id </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${t6MgrAhr.assc_mgrid!}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">邮箱 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t6MgrAhr.email!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">备注 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t6MgrAhr.rmrk!)}">
							</div>
						</div>
				</form>
			</div>
		
		</div>
	</div>
</div>	
