

<div class="form-group">
	<label class="col-sm-2 control-label">已登陆次数</label>
	<div class="col-sm-7">
		<input type="text" name="t3Statl.login_cnt" value="${t3Statl.login_cnt!}" 
		class="form-control" maxlength="100" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> 1-100个任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">维护时间</label>
	<div class="col-sm-7">
		<div class="input-group">
		<input type="text" name="t3Statl.tms" date-data-format="yyyy-mm-dd" data-data-viewmode="years" class="form-control data-picker" value="${t3Statl.tms!, dateFormat="yyyy-MM-dd HH:mm:ss"}">
		<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		</div>
		<span class="help-inline col-sm-2"></span>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label"></label>
	<div class="col-sm-7">
		<input type="text" name="t3Statl.typecnt" value="${escapeXml(t3Statl.typecnt!)}" 
		class="form-control" maxlength="100" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> 1-100个任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label"></label>
	<div class="col-sm-7">
		<input type="text" name="t3Statl.cnt_online" value="${t3Statl.cnt_online!}" 
		class="form-control" maxlength="100" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> 1-100个任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label"></label>
	<div class="col-sm-7">
		<input type="text" name="t3Statl.cnt_2" value="${t3Statl.cnt_2!}" 
		class="form-control" maxlength="100" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> 1-100个任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label"></label>
	<div class="col-sm-7">
		<input type="text" name="t3Statl.cnt_3" value="${t3Statl.cnt_3!}" 
		class="form-control" maxlength="100" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> 1-100个任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label"></label>
	<div class="col-sm-7">
		<input type="text" name="t3Statl.remark" value="${escapeXml(t3Statl.remark!)}" 
		class="form-control" maxlength="100" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> 1-100个任意字符 </span>
</div>
