

<div class="form-group">
	<label class="col-sm-2 control-label">课程id</label>
	<div class="col-sm-7">
		<input type="text" name="t7Crcl.crclid" value="${t7Crcl.crclid!}" 
		class="form-control" maxlength="100" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> 1-100个任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">课程简介</label>
	<div class="col-sm-7">
		<input type="text" name="t7Crcl.crcl_brf" value="${escapeXml(t7Crcl.crcl_brf!)}" 
		class="form-control" maxlength="100" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> 1-100个任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">行政区划代码</label>
	<div class="col-sm-7">
		<input type="text" name="t7Crcl.adiv" value="${t7Crcl.adiv!}" 
		class="form-control" maxlength="100" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> 1-100个任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">课程名称</label>
	<div class="col-sm-7">
		<input type="text" name="t7Crcl.crcl_nm" value="${escapeXml(t7Crcl.crcl_nm!)}" 
		class="form-control" maxlength="100" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> 1-100个任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">课程文件路径</label>
	<div class="col-sm-7">
		<input type="text" name="t7Crcl.crcl_file_rte" value="${escapeXml(t7Crcl.crcl_file_rte!)}" 
		class="form-control" maxlength="100" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> 1-100个任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">课程属性（是否必修）</label>
	<div class="col-sm-7">
		<input type="text" name="t7Crcl.crcl_attr" value="${escapeXml(t7Crcl.crcl_attr!)}" 
		class="form-control" maxlength="100" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> 1-100个任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">学分</label>
	<div class="col-sm-7">
		<input type="text" name="t7Crcl.ty_grd" value="${t7Crcl.ty_grd!}" 
		class="form-control" maxlength="100" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> 1-100个任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">课程类别</label>
	<div class="col-sm-7">
		<input type="text" name="t7Crcl.crcl_cgy" value="${escapeXml(t7Crcl.crcl_cgy!)}" 
		class="form-control" maxlength="100" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> 1-100个任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">维护时间</label>
	<div class="col-sm-7">
		<div class="input-group">
		<input type="text" name="t7Crcl.tms" date-data-format="yyyy-mm-dd" data-data-viewmode="years" class="form-control data-picker" value="${t7Crcl.tms!, dateFormat="yyyy-MM-dd HH:mm:ss"}">
		<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		</div>
		<span class="help-inline col-sm-2"></span>
	</div>
</div>
