<!DOCTYPE HTML>
<html>
<head>
<title>后台中心</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="Skate Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript">
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 
</script>
<!-- Bootstrap -->
<link type="text/css" rel="stylesheet"
	href="${cxt!}/ui/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link href="${cxt!}/css/style.css" rel="stylesheet" type="text/css"
	media="all" />
<!----font-Awesome----->
<link rel="stylesheet" href="${cxt!}/fonts/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css"
	href="${cxt!}/ui/DataTables/datatables.css" />
<!----font-Awesome----->
<!-- start plugins -->
<link href="${cxt!}/css/owl.carousel.css" rel="stylesheet">
<link href="${cxt!}/css/owl.theme.css" rel="stylesheet">

<script type="text/javascript">
	var cxt = '${cxt!}';
</script>

</head>
<body>
	<style>
#owl-demo .owl-item div {
	padding: 5px;
}

#owl-demo .owl-item img {
	display: block;
	width: 100%;
	height: auto;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.sidebar {
	/* position: fixed; */
	/* top: 60px; */
	/* bottom: 0; */
	/* left: 0; */
	z-index: 1000;
	display: block;
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #05506b;
	/* border-right: 1px solid #eee; */
}

.left_menu {
	background-color: #fff;
	padding: 0;
}

.self_title {
	width: 100%;
	height: 56px;
	line-height: 56px;
	border-bottom: 1px solid #006980;
	font-size: 20px;
	color: #888888;
	font-weight: bold;
}

.text-center {
	text-align: center;
}

.dl-horizontal {
	margin: 20px auto 40px;
	color: #fff;
	width: 200px;
}

.dl-horizontal .self_photo {
	width: 98px;
	height: 128px;
	text-align: center;
}

.dl-horizontal .self_dd {
	margin-left: 115px;
	padding-top: 20px;
	font-size: 16px;
	color: #888888;
}

.self_tablist {
	margin: 0 15px;
	border-bottom: 1px solid #d4d4d4;
}

.myTabs {
	width: 200px;
	height: 55px;
	margin: 0 auto;
}

.myTabs_1 {
	width: 210px;
	height: 55px;
	margin: 0 auto;
}

.myTabs_2 {
	width: 350px;
	height: 55px;
	margin: 0 auto;
}

.myTabs>li.active>a, .myTabs>li.active>a:focus, .myTabs>li.active>a:hover
	{
	color: #fff;
	background-color: #86d186 !important;
}

.myTabs>li>a {
	font-size: 20px;
	color: #888888;
	font-weight: bold;
}

.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
	color: #06a6ce;
}
</style>

	<div class="header_bg">
		<div class="container">
			<div class="header">
				<div class="logo">
					<h1>
						<a href="${cxt!}/jf/puresport/pagesController/admin">反兴奋剂在线教育后台管理平台</a>
					</h1>
				</div>
				<div class="h_menu">
					<a id="touch-menu" class="mobile-menu" href="#">Menu</a>
					<nav>
						<ul class="menu list-unstyled">

							<li class="dropdown selfcenterbtn"><a href="#"
								class="dropdown-toggle" data-toggle="dropdown"> <span
									class="caret"></span>
							</a>
								<ul class="dropdown-menu">
									<li><a href="${cxt!}/jf/puresport/pagesController/admin">个人中心</a></li>
									<li><a
										href="${cxt!}/jf/puresport/pagesController/loginout">注销</a></li>

								</ul></li>
							<!--li><a href="blog.html">BLOG</a></li>
			<li><a href="contact.html">CONTACT</a></li-->
						</ul>
					</nav>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="grid_12">
				<img src="${cxt!}/images/color_stripe.jpg" class="img-responsive"
					class="c_stripe">
			</div>
		</div>
	</div>
	<div class="main_bg">
		<!-- start main -->
		<div class="container">
			<div class="main_grid1">
				<h3 class="style pull-left">个人中心</h3>

				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<!-- start main_btm -->
	<div class="main_btm1">
		<!-- start main_btm -->
		<div class="container">
			<div class="row">
				<div class="col-sm-3 col-md-3 sidebar left_menu">
					<div class="self_info">
						<p class="self_title text-center">个人中心</p>
						<dl class="dl-horizontal">
							<dt class="self_photo">
								<div class="fileinput-new thumbnail"
									style="width: 100px; height: 100px; border: none; padding: 0;">
									<img src="${cxt!}/images/touxiang.png" id='picImg' alt="" />
								</div>
							</dt>
							<dd class="self_dd">
								<p class="name">${username}</p>

							</dd>
						</dl>
						<button type="button"
							class="btn btn-primary btn-lg btn-block reset_btn"
							data-toggle="modal" data-target="#passwordModal">重置密码</button>
						<a href="${cxt!}/jf/puresport/pagesController/loginout"
							type="button" class="btn btn-primary btn-lg btn-block logout_btn"
							role="button">注销</a>
					</div>
				</div>
				<div class="col-sm-9 col-md-9">
					<div class="self_tablist">
						<ul class="nav nav-pills myTabs">
							<li class="active"><a href="#tab_one" data-toggle="tab">权限分配</a></li>
							<li><a href="#tab_two" data-toggle="tab">统计</a></li>
						</ul>
					</div>
					<div class="tab-content">
						<div class="tab-pane fade in active" id="tab_one">
							<div class="self_tablist">
								<ul class="nav nav-pills myTabs_1">
									<li class="active"><a href="#myTabs_1_0" data-toggle="tab">导入管理员</a></li>
									<li><a href="#myTabs_1_1" data-toggle="tab">导入运动员</a></li>
								</ul>
							</div>
							<div class="tab-content">
								<div class="tab-pane fade in active" id="myTabs_1_0">
									<div class="form-group">
										<div class="col-sm-10">
											<input id="inputfileadmin" type="file" style="opacity: 0;width:0px">
										</div>
										<a type="submit"
											onclick="$('input[id=inputfileadmin]').click();"
											class="btn col-sm-2 btn-default">上传EXCEL文件</a>

									</div>
									<table id="example1" class="display" >
										<thead>
											<tr>
												<th>姓名</th>
												<th>证件类型</th>
												<th>证件号</th>
												<th>性别</th>
												<th>出生日期</th>
												<th>工作单位</th>
												<th>职务</th>
												<th>管理员级别</th>
												<th>所属省（自治区）</th>
												<th>所属市</th>
												<th>所属协会</th>
												<th>手机号</th>
												<th>邮箱</th>
											</tr>
										</thead>
									</table>
								</div>
								<div class="tab-pane fade" id="myTabs_1_1">
									<div class="form-group">
										<div class="col-sm-10">
											<input type="file" id="inputfilesporter" style="opacity: 0;width:0px">
										</div>
										<a type="submit" 
											onclick="$('input[id=inputfilesporter]').click();"
											class="btn col-sm-2 btn-default">上传EXCEL文件</a>
									</div>
									<table id="example2" class="display" style="width: 100%">
										<thead>
											<tr>
												<th>姓名</th>
												<th>证件类型</th>
												<th>证件号</th>
												<th>性别</th>
												<th>出生日期</th>
												<th>运动项目</th>
												<th>级别</th>
												<th>所属省（自治区）</th>
												<th>所属市</th>
												<th>所属协会</th>
												<th>手机号</th>
												<th>邮箱</th>
											</tr>
										</thead>
									</table>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="tab_two">
							<div class="self_tablist">
								<ul class="nav nav-pills myTabs_2">
									<li class="active"><a href="#myTabs_2_0" data-toggle="tab">成绩统计</a></li>
									<li><a href="#myTabs_2_1" data-toggle="tab">项目合格率统计</a></li>
									<li><a href="#myTabs_2_2" data-toggle="tab">试题错误率统计</a></li>
								</ul>
							</div>
							<div class="tab-content">
								<div class="tab-pane fade in active" id="myTabs_2_0">
									<div class="form-inline">
										<div class="form-group">
											<label for="name" class="control-label">省：</label> <select class="form-control">
												<option>全选</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
											</select>
										</div>
										<div class="form-group">
											<label for="name" class="control-label">市：</label> <select
												class="form-control">
												<option>全选</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
											</select>
										</div>
										<div class="form-group">
											<label for="name" class="control-label">协会：</label> <select
												class="form-control">
												<option>全选</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
											</select>
										</div>
										<div class="form-group">
											<div class="col-sm-offset-2 col-sm-10">
												<button type="submit" class="btn btn-default">导出</button>
											</div>
										</div>
									</div>
									<table id="example3" class="display" style="width: 100%">
										<thead>
											<tr>
												<th>用户类型</th>
												<th>运动项目</th>
												<th>姓名</th>
												<th>证件类型</th>
												<th>证件号</th>
												<th>性别</th>
												<th>出生日期</th>
												<th>所属省</th>
												<th>所属市</th>
												<th>所属协会</th>
												<th>手机号</th>
												<th>邮箱</th>
												<th>考试名称</th>
												<th>考试成绩</th>
												<th>合格与否</th>
											</tr>
										</thead>
									</table>
								</div>
								<div class="tab-pane fade" id="myTabs_2_1">
									<div class="form-inline">
										<div class="form-group">
											<label for="name" class="control-label">省：</label> <select
												class="form-control">
												<option>全选</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
											</select>
										</div>
										<div class="form-group">
											<label for="name" class="control-label">市：</label> <select
												class="form-control">
												<option>全选</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
											</select>
										</div>
										<div class="form-group">
											<label for="name" class="control-label">协会：</label> <select
												class="form-control">
												<option>全选</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
											</select>
										</div>
										<div class="form-group">
											<label for="name" class="control-label">项目：</label> <select
												class="form-control">
												<option>全选</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
											</select>
										</div>
										<div class="form-group">
											<div class="col-sm-offset-2 col-sm-10">
												<button type="submit" class="btn btn-default">导出</button>
											</div>
										</div>
									</div>
									<table id="example4" class="display" style="width: 100%">
										<thead>
											<tr>
												<th>运动项目</th>
												<th>所属省（自治区）</th>
												<th>所属市</th>
												<th>所属协会</th>
												<th>合格率</th>
												<th>答题率</th>
											</tr>
										</thead>
									</table>
								</div>
								<div class="tab-pane fade" id="myTabs_2_2">
									<div class="form-inline">

										<div class="form-group">
											<label for="name" class="control-label">试题类型：</label> <select
												class="form-control">
												<option>全选</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
											</select>
										</div>
										<div class="form-group">
											<div class="col-sm-offset-2 col-sm-10">
												<button type="submit" class="btn btn-default">导出</button>
											</div>
										</div>
									</div>
									<table id="example5" class="display" style="width: 100%">
										<thead>
											<tr>
												<th>试题类型</th>
												<th>试题标题</th>
												<th>试题内容</th>
												<th>试题答案</th>
												<th>试题分值</th>
												<th>错误率</th>
											</tr>
										</thead>
									</table>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>


	</div>

	<!--password modify modal-->
	<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">重置密码</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
						<div class="col-sm-12" style="text-align: center; color: #e41818;">
							<h5 id="passwordModal_hint"></h5>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label">旧密码</label>
							<div class="col-sm-9">
								<input type="password" id="resetPwd_oldPwd" class="form-control"
									placeholder="旧密码">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">新密码</label>
							<div class="col-sm-9">
								<input type="password" id="resetPwd_newPwd" class="form-control"
									placeholder="新密码">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">确认新密码</label>
							<div class="col-sm-9">
								<input type="password" id="resetPwd_newPwd_confirm"
									class="form-control" placeholder="确认新密码">
							</div>
						</div>

					</form>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary system_btn" id="resetPwd_btn"
						onclick="resetPwd('02')" type="button" data-toggle="modal">重置</button>
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
		
	</div>

	<% include("/f/footer.html"){} %>

<script src="${cxt!}/js/jquery-1.11.1.min.js"></script> 
<script src="${cxt!}/ui/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="${cxt!}/jsFile/echarts/echarts.min.js"></script>
<script src="${cxt!}/js/menu.js" type="text/javascript"></script>
<script type="text/javascript" src="${cxt!}/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="${cxt!}/js/jquery.mixitup.min.js"></script>

<script src="${cxt!}/js/owl.carousel.js"></script>
<script type="text/javascript" src="${cxt!}/js/puresport.js"></script>

	<script>
		
	</script>
	<script src="${cxt!}/js/jquery-json.js"></script>
	<script type="text/javascript" src="${cxt!}/ui/DataTables/datatables.min.js"></script>
<script src="${cxt!}/js/t6admin.js"></script>
<script src="${cxt!}/js/t1sporter.js"></script>
<script src="${cxt!}/js/statis_score.js"></script>
<script src="${cxt!}/js/statis_passed.js"></script>
<script src="${cxt!}/js/statis_question.js"></script>
</body>
</html>