<!DOCTYPE HTML>
<html>
<head>
<title>后台中心</title>
<link rel="shortcut icon" href="${cxt!}/images/favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="Skate Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript">
	
	
	
	
	
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 





</script>
<!--script type="text/javascript" src="${cxt!}/js/jquery-1.12.4.js"></script-->
<!-- Bootstrap -->
<link type="text/css" rel="stylesheet"
	href="${cxt!}/ui/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link href="${cxt!}/css/style.css" rel="stylesheet" type="text/css"
	media="all" />
<!----font-Awesome----->
<link rel="stylesheet" href="${cxt!}/fonts/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css"
	href="${cxt!}/ui/DataTables/DataTables-1.10.12/css/jquery.dataTables.min.css" />
<link rel="stylesheet"
	href="${cxt!}/ui/DataTables/sport/buttons.dataTables.min.css">
<link rel="stylesheet"
	href="${cxt!}/ui/DataTables/sport/select.dataTables.min.css">
<link rel="stylesheet" type="text/css"
	href="${cxt!}/ui/Editor-1.7.3/css/editor.dataTables.css">
<!----font-Awesome----->
<!-- start plugins -->
<link href="${cxt!}/css/owl.carousel.css" rel="stylesheet">
<link href="${cxt!}/css/owl.theme.css" rel="stylesheet">
<link rel="stylesheet" type="text/css"
	href="${cxt!}/ui/loading/app.min.css" />
<script type="text/javascript">
	var cxt = '${cxt!}';
</script>

</head>
<body>
	<style>
#owl-demo .owl-item div {
	padding: 5px;
}

#owl-demo .owl-item img {
	display: block;
	width: 100%;
	height: auto;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.sidebar {
	z-index: 1000;
	display: block;
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #05506b;
}

.left_menu {
	background-color: #fff;
	padding: 0;
}

.self_title {
	width: 100%;
	height: 56px;
	line-height: 56px;
	border-bottom: 1px solid #006980;
	font-size: 20px;
	color: #888888;
	font-weight: bold;
}

.text-center {
	text-align: center;
}

.dl-horizontal {
	margin: 20px auto 40px;
	color: #fff;
	width: 200px;
}

.dl-horizontal .self_photo {
	width: 98px;
	height: 128px;
	text-align: center;
}

.dl-horizontal .self_dd {
	margin-left: 115px;
	padding-top: 20px;
	font-size: 16px;
	color: #888888;
}

.self_tablist {
	margin: 0 15px;
	border-bottom: 1px solid #d4d4d4;
}

.myTabs {
	width: 200px;
	height: 55px;
	margin: 0 auto;
}

.myTabs_1 {
	height: 55px;
	margin: 0 auto;
}

.myTabs_2 {
	height: 55px;
	margin: 0 auto;
}

.myTabs>li.active>a, .myTabs>li.active>a:focus, .myTabs>li.active>a:hover
	{
	color: #fff;
	/*background-color: #86d186 !important;*/
}

.myTabs>li>a {
	font-size: 20px;
	color: #888888;
	font-weight: bold;
}

.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
	color: #06a6ce;
}

.selectmy {
	height: 45px;
	margin-right: 15px;
}
</style>

	<div class="header_bg">
		<div class="container">
			<div class="header">
				<div class="logo">
					<h1>
						<a href="${cxt!}/jf/puresport/pagesController/admin">反兴奋剂在线教育后台管理平台</a>
					</h1>
				</div>

				<div class="clearfix"></div>
			</div>
			<div class="grid_12">
				<img src="${cxt!}/images/color_stripe.jpg" class="img-responsive"
					class="c_stripe">
			</div>
		</div>
	</div>
	<div class="main_bg">
		<!-- start main -->
		<div class="container">
			<div class="main_grid1">
				<h3 class="style pull-left">个人中心</h3>
				<div class="h_menu_admin">
					<a id="touch-menu" class="mobile-menu" href="#">菜单</a>
					<nav>
						<ul class="menu list-unstyled">
							<li class="dropdown"><img src="${cxt!}/images/adminIcon.png"
								alt="" class="img-responsive dropdown-toggle"
								data-toggle="dropdown" />
								<ul class="dropdown-menu">
									<li><a href="${cxt!}/jf/puresport/pagesController/admin">个人中心</a></li>
									<li><a data-toggle="modal" data-target="#passwordModal">重置密码</a></li>
									<li><a href="${cxt!}/jf/puresport/pagesController/loginout">注销</a></li>
								</ul></li>
						</ul>
					</nav>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<!-- start main_btm -->
	<div class="main_btm1">
		<!-- start main_btm -->
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="self_tablist">
						<ul class="nav nav-pills myTabs">
							<li class="active"><a href="#tab_one" data-toggle="tab">权限分配</a></li>
							<li><a href="#tab_two" data-toggle="tab">统计</a></li>
						</ul>
					</div>
					<div class="tab-content">
						<div class="tab-pane fade in active" id="tab_one">
							<div class="self_tablist">
								<ul class="nav nav-pills myTabs_1">
									<li id="importAdmin_btn" class="active"><a
										href="#myTabs_1_0" data-toggle="tab">导入管理员</a></li>
									<li id="importSporter_btn"><a href="#myTabs_1_1"
										data-toggle="tab">导入运动员</a></li>
								</ul>
							</div>
							<div class="tab-content">

								<div class="tab-pane fade in active" id="myTabs_1_0">
									<div class="row">
										<div class="col-lg-2">
											<h4>个人信息：</h4>
										</div>
										<div class="col-lg-3">
											<input type="text" id="s_t6MgrAhr_nm" class="form-control"
												placeholder="姓名">
										</div>
										<div class="col-lg-3">
											<input type="text" id="s_t6MgrAhr_crdt_no"
												class="form-control" placeholder="证件号">
										</div>
										<div class="col-lg-4 pull-right">
											<div style="opacity: 0; width: 0px; max-height: 0px;">
												<input type="file" id="inputfileadmin"
													style="opacity: 0; width: 0px">
											</div>
											<div class="col-lg-6">
												<a href="${cxt!}/files/syh/excel_tem/管理员模板.xls"
													style="padding: 10px 10px;" class="btn btn-info btn-lg">
													<span class="glyphicon glyphicon-cloud-download"></span>管理员Excel模板
												</a>

											</div>
											<div class="col-lg-4">
												<a type="submit"
													onclick="$('input[id=inputfileadmin]').click();"
													style="padding: 10px 10px;" class="btn btn-info btn-lg">
													<span class="glyphicon glyphicon-cloud-upload"></span>上传Excel文件
												</a>
											</div>
										</div>

									</div>
									<div class="row">
										<div class="col-lg-2">
											<h4>区域信息：</h4>
										</div>
										<div class="col-lg-3">
											<input type="text" id="s_t6MgrAhr_province"
												class="form-control" placeholder="所属省">
										</div>
										<div class="col-lg-3">
											<input type="text" id="s_t6MgrAhr_city" class="form-control"
												placeholder="所属市">
										</div>
									</div>
									<div class="row">
										<div class="col-lg-2">
											<h4>管理员级别：</h4>
										</div>
										<div class="col-lg-3">
											<input type="text" id="s_t6MgrAhr_typeleve"
												class="form-control" placeholder="管理员级别">
										</div>
										<div class="col-lg-2">
											<button type="submit" id="s_btn_adm"
												class="btn  btn-info btn-lg">
												<span class="glyphicon glyphicon-search"></span>查询
											</button>
										</div>
									</div>

									<table id="example1" class="display nowrap"
										style="width: 1000px;">
										<thead>
											<tr>
												<th>userid</th>
												<th>姓名</th>
												<th>证件类型</th>
												<th>证件号</th>
												<th>性别</th>
												<th>出生日期</th>
												<th>工作单位</th>
												<th>职务</th>
												<th>管理员级别</th>
												<th>所属省（自治区）</th>
												<th>所属市</th>
												<th>所属协会</th>
												<th>手机号</th>
												<th>邮箱</th>
											</tr>
										</thead>
									</table>
								</div>

								<div class="tab-pane fade" id="myTabs_1_1">
									<div class="row">
										<div class="col-lg-2">
											<h4>个人信息：</h4>
										</div>
										<div class="col-lg-3">
											<input type="text" id="s_t1usrBsc_nm" class="form-control"
												placeholder="姓名">
										</div>
										<div class="col-lg-3">
											<input type="text" id="s_t1usrBsc_crdt_no"
												class="form-control" placeholder="证件号">
										</div>
										<div class="col-lg-4 pull-right">
											<div style="opacity: 0; width: 0px; max-height: 0px;">
												<input type="file" id="inputfilesporter"
													style="opacity: 0; width: 0px">
											</div>
											<div class="col-lg-6">
												<a href="${cxt!}/files/syh/excel_tem/运动员模板.xls"
													style="padding: 10px 10px;" class="btn btn-info btn-lg">
													<span class="glyphicon glyphicon-cloud-download"></span>运动员Excel模板
												</a>

											</div>
											<div class="col-lg-4">
												<a type="submit"
													onclick="$('input[id=inputfilesporter]').click();"
													style="padding: 10px 10px;" class="btn btn-info btn-lg">
													<span class="glyphicon glyphicon-cloud-upload"></span>上传Excel文件
												</a>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-2">
											<h4>区域信息：</h4>
										</div>
										<div class="col-lg-3">
											<input type="text" id="s_t1usrBsc_province"
												class="form-control" placeholder="所属省">
										</div>
										<div class="col-lg-3">
											<input type="text" id="s_t1usrBsc_city" class="form-control"
												placeholder="所属市">
										</div>
									</div>
									<div class="row">
										<div class="col-lg-2">
											<h4>其它信息：</h4>
										</div>
										<div class="col-lg-2">
											<input type="text" id="s_t1usrBsc_usr_tp"
												class="form-control" placeholder="人员类型">
										</div>
										<div class="col-lg-2">
											<input type="text" id="s_t1usrBsc_spt_prj"
												class="form-control" placeholder="运动项目">
										</div>
										<div class="col-lg-2">
											<input type="text" id="s_t1usrBsc_typelevel"
												class="form-control" placeholder="级别">
										</div>
										<div class="col-lg-2">
											<input type="text" id="s_t1usrBsc_gnd" class="form-control"
												placeholder="性别">
										</div>
										<div class="col-lg-2">
											<button type="submit" id="s_btn_spt"
												class="btn btn-info btn-sm">
												<span class="glyphicon glyphicon-search"></span>查询
											</button>
										</div>
									</div>


									<table id="example2" class="display nowrap"
										style="width: 1000px">
										<thead>
											<tr>
												<th>userid</th>
												<th>人员类型</th>
												<th>姓名</th>
												<th>证件类型</th>
												<th>证件号</th>
												<th>工作单位</th>
												<th>职务</th>
												<th>性别</th>
												<th>出生日期</th>
												<th>运动项目</th>
												<th>级别</th>
												<th>所属省（自治区）</th>
												<th>所属市</th>
												<th>所属协会</th>
												<th>手机号</th>
												<th>邮箱</th>
											</tr>
										</thead>
									</table>
								</div>

							</div>
						</div>
						<div class="tab-pane fade" id="tab_two">
							<div class="self_tablist">
								<ul class="nav nav-pills myTabs_2">
									<li class="active"><a href="#myTabs_2_0" data-toggle="tab">成绩统计</a></li>
									<li><a href="#myTabs_2_1" data-toggle="tab">项目合格率统计</a></li>
									<li><a href="#myTabs_2_2" data-toggle="tab">试题错误率统计</a></li>
								</ul>
							</div>
							<div class="tab-content">

								<div class="tab-pane fade in active" id="myTabs_2_0">
									<div class="form-inline myTabs_2">
										<div class="form-group">
											<label for="name" class="control-label">省：</label> <select
												id="provSelect_score" class="form-control selectmy">
												<option name="prov_9999" value="9999">全部</option>
											</select>
										</div>
										<div class="form-group">
											<label for="name" class="control-label">市：</label> <select
												id="citySelect_score" class="form-control selectmy">
												<option name="city_9999" value="9999">全部</option>
											</select>
										</div>

										<div class="form-group hide">
											<label for="name" class="control-label">协会：</label> <select
												id="instituteSelect_score" class="form-control selectmy">
												<option name="institute_9999" value="9999">全部</option>
											</select>
										</div>
										<div class="form-group">
											<button type="submit" id="selectBtn_score"
												class="btn btn-info btn-default">
												<span class="glyphicon glyphicon-search"></span>查询
											</button>
										</div>

									</div>
									<div class="row">

										<div class="col-lg-2">
											<input type="text" id="sta_t1usrBsc_nm" class="form-control"
												placeholder="姓名">
										</div>
										<div class="col-lg-3">
											<input type="text" id="sta_t1usrBsc_crdt_no"
												class="form-control" placeholder="证件号码">
										</div>
										<div class="col-lg-3">
											<select id="sta_t1usrBsc_usr_tp"
												class="form-control selectmy">
												<option value="9999">用户类型/全部</option>
												<option value="合格">运动员</option>
												<option value="不合格">辅助人员</option>
											</select>
										</div>
										<div class="col-lg-3">
											<input type="text" id="sta_t1usrBsc_spt_prj"
												class="form-control" placeholder="运动项目">
										</div>
									</div>
									<div class="row">
 
										<div class="col-lg-2">
											<select id="sta_t1usrBsc_exam_nm"
												class="form-control selectmy">
												<option value="9999">考试名称/全部</option>
												<option value="省运会">省运会</option>
												<option value="亚运会">亚运会</option>
												<option value="青奥会">青奥会</option>
												<option value="军运会">军运会</option>
											</select>
										</div>
										<!-- <div class="col-lg-3">
											<input type="text" id="sta_t1usrBsc_exam_grd"
												class="form-control" placeholder="考试成绩">
										</div> -->
										<div class="col-lg-3">
											<select id="sta_t1usrBsc_passOrnot"
												class="form-control selectmy">
												<option value="9999">合格与否/全部</option>
												<option value="合格">合格</option>
												<option value="不合格">不合格</option>
												<option value="未考试">未考试</option>
											</select>
										</div>
										<div class="col-lg-3">
											<select id="sta_t1usrBsc_gnd" class="form-control selectmy">
												<option value="9999">性别/全部</option>
												<option value="男">男</option>
												<option value="女">女</option>
											</select>
										</div>
									</div>
									<table id="example3" class="display nowrap" style="width: 100%">
										<thead>
											<tr>
												<th>用户类型</th>
												<th>运动项目</th>
												<th>姓名</th>
												<th>考试名称</th>
												<th>考试成绩</th>

												<th>合格与否</th>
												<th>证件类型</th>
												<th>证件号</th>
												<th>性别</th>
												<th>出生日期</th>

												<th>所属省</th>
												<th>所属市</th>
												<th>所属协会</th>
												<th>手机号</th>
												<th>邮箱</th>

											</tr>
										</thead>
									</table>
								</div>

								<div class="tab-pane fade" id="myTabs_2_1">
									<div class="form-inline">
										<div class="form-group">
											<label for="name" class="control-label">省：</label> <select
												id="provSelect_prj" class="form-control selectmy">
												<option name="prov_9999" value="9999">全部</option>
											</select>
										</div>
										<div class="form-group">
											<label for="name" class="control-label">市：</label> <select
												id="citySelect_prj" class="form-control selectmy">
												<option name="city_9999" value="9999">全部</option>
											</select>
										</div>

										<div class="form-group">
											<label for="name" class="control-label">项目：</label> <select
												id="prjSelect_prj" class="form-control selectmy">
												<option name="prj_9999" value="9999">全部</option>
											</select>
										</div>
										<div class="form-group">
											<button type="submit" id="selectBtn_prj"
												class="btn col-sm-2 btn-default">查询</button>
										</div>
									</div>
									<table id="example4" class="display nowrap" style="width: 100%">
										<thead>
											<tr>
												<th>运动项目</th>
												<th>所属省（自治区）</th>
												<th>所属市</th>
												<th>合格率(及格/已答题人数)</th>
												<th>答题率(已答题/总人数)</th>
											</tr>
										</thead>
									</table>
								</div>

								<div class="tab-pane fade" id="myTabs_2_2">
									<div class="form-inline">
										<div class="form-group">
											<label for="name" class="control-label">试题类型：</label> <select
												id="typeSelect_question" class="form-control selectmy">
												<option value="全部">全部</option>
												<option value="01">选择题</option>
												<option value="02">判断题</option>
											</select>
										</div>
										<div class="form-group">
											<button type="submit" id="selectBtn_question"
												class="btn col-sm-2 btn-default">查询</button>
										</div>
									</div>
									<table id="example5" class="display nowrap" style="width: 100%">
										<thead>
											<tr>
												<th>试题类型</th>
												<th>试题标题</th>
												<th>错误率(错误次数/答题次数)</th>
												<th>试题内容</th>
												<th>试题答案</th>
												<th>试题分值</th>

											</tr>
										</thead>
									</table>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>


	</div>

	<!--password modify modal-->
	<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">重置密码</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
						<div class="col-sm-12" style="text-align: center; color: #e41818;">
							<h5 id="passwordModal_hint"></h5>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label">旧密码</label>
							<div class="col-sm-9">
								<input type="password" id="resetPwd_oldPwd" class="form-control"
									placeholder="旧密码">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">新密码</label>
							<div class="col-sm-9">
								<input type="password" id="resetPwd_newPwd" class="form-control"
									placeholder="新密码">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">确认新密码</label>
							<div class="col-sm-9">
								<input type="password" id="resetPwd_newPwd_confirm"
									class="form-control" placeholder="确认新密码">
							</div>
						</div>

					</form>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary system_btn" id="resetPwd_btn"
						onclick="resetPwd('02')" type="button" data-toggle="modal">重置</button>
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>

	<!--=======编辑对话框 管理员CRUD=========-->
	<div class="modal fade" id="adminModal" tabindex="-2" role="dialog"
		aria-labelledby="exampleModalLabelAdmin" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title col-sm-4" id="exampleModalLabelAdmin">--</h3>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" id="form_admin">
						<div class="col-sm-12" style="text-align: center; color: #e41818;">
							<h5 id="passwordModal_hint"></h5>
						</div>
						<% include("/puresport/t6MgrAhr/form.html"){} %>
					</form>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary system_btn" id="adminModal_btn"
						type="button" data-toggle="modal">提交</button>
					<button class="btn btn-secondary" id="adminModal_cancel"
						type="button" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>

	<!--=======编辑对话框 运动员CRUD=========-->
	<div class="clear"></div>
	<div class="modal fade" id="sporterModal" tabindex="-3" role="dialog"
		aria-labelledby="exampleModalLabelSporter" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title col-sm-4" id="exampleModalLabelSporter">--</h3>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<form class="form_sporter" id="form_sporter"><%
						include("/puresport/t1usrBsc/form.html"){} %></form>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary system_btn" id="sporterModal_btn"
						type="button" data-toggle="modal">提交</button>
					<button class="btn btn-secondary" id="sporterModal_cancel"
						type="button" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>

	<!--  -->
	<% include("/f/footer.html"){} %>

	<script type="text/javascript" src="${cxt!}/js/jquery-1.12.4.js"></script>
	<script src="${cxt!}/ui/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script src="${cxt!}/js/menu.js" type="text/javascript"></script>
	<script type="text/javascript" src="${cxt!}/js/jquery.easing.min.js"></script>
	<script type="text/javascript" src="${cxt!}/js/jquery.mixitup.min.js"></script>

	<script src="${cxt!}/js/owl.carousel.js"></script>
	<script type="text/javascript" src="${cxt!}/js/puresport.js"></script>
	<script type="text/javascript" src="${cxt!}/jsFile/md5.js"></script>
	<script src="${cxt!}/js/jquery-json.js"></script>
	<script type="text/javascript"
		src="${cxt!}/ui/DataTables/DataTables-1.10.12/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript"
		src="${cxt!}/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript"
		src="${cxt!}/js/dataTables.select.min.js"></script>
	<script type="text/javascript" src="${cxt!}/ui/layer3/layer.js"></script>

	<script>
	function loadScriptMy(url, callback) {
	    var script = document.createElement("script");
	    script.type = "text/javascript";
	    if (typeof(callback) != "undefined") {
	        if (script.readyState) {
	            script.onreadystatechange = function() {
	                if (script.readyState == "loaded" || script.readyState == "complete") {
	                    script.onreadystatechange = null;
	                    callback();
	                }
	            };
	        } else {
	            script.onload = function() {
	                callback();
	            };
	        }
	    };
	    script.src = url;
	    document.body.appendChild(script);
	}
	function lazyLoadMy(flag, url){
		if(flag == 0){
			loadScriptMy(url, function(){flag = 1});
		}
	}
//初始化懒加载标志
var flagInit_admin = 1;// 最开始就加载
var flagInit_sport = 0;
var flagInit_staScore = 0;
var flagInit_staPrj = 0;
var flagInit_staQue = 0;
</script>
	<script src="${cxt!}/ui/loading/app.min.js"></script>
	<script src="${cxt!}/js/t6admin.js"></script>
	<script src="${cxt!}/js/t1sporter.js"></script>
	<script type="text/javascript" src="${cxt!}/ui/DataTables/sport/jszip.min.js"></script>
	<script type="text/javascript" src="${cxt!}/ui/DataTables/sport/vfs_fonts.js"></script>
	<script type="text/javascript" src="${cxt!}/ui/DataTables/sport/buttons.html5.min.js"></script>
	
<script>
$(function(){
			if('${session["typeleve"]}'=='中心协会级')
			{
				$('#importAdmin_btn').remove();
				$('#importSporter_btn').addClass('active');
				$('#myTabs_1_0').remove();
				$('#myTabs_1_1').addClass('in').addClass('active');
			}
	
	$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
		// 获取已激活的标签页的名称
		var activeTab = $(e.target).text(); 
		console.log(activeTab);
		// 获取前一个激活的标签页的名称
		// var previousTab = $(e.relatedTarget).text(); 

		if(activeTab == '导入管理员'){
		} else if(activeTab == '导入运动员'){
			//lazyLoadMy(flagInit_sport, cxt + "/js/t1sporter.js");
			//flagInit_sport = 1;
		}else if(activeTab == '成绩统计' || activeTab == '统计'){
			lazyLoadMy(flagInit_staScore, cxt + "/js/statis_score.js");
			flagInit_staScore = 1;
		}else if(activeTab == '项目合格率统计'){
			lazyLoadMy(flagInit_staPrj, cxt + "/js/statis_passed.js");
			flagInit_staPrj = 1;
		}else if(activeTab == '试题错误率统计'){
			lazyLoadMy(flagInit_staQue, cxt + "/js/statis_question.js");
			flagInit_staQue = 1;
		} 
	});
});
</script>

</body>
</html>