<div class="footer_bg">
<div class="container">
	<div class="footer">
		<div class="col-xs-6 col-sm-6 col-md-3 footer1_of_3">
			<div class="f_logo">
				<img src="${cxt!}/images/zhongxinlogo.png" class="img-responsive" style="max-height:80px;margin: 0 auto;">
			</div>		
		</div>
		<div class="col-xs-6 col-sm-6 col-md-3 footer1_of_3">
			<div class="f_logo">
				<img src="${cxt!}/images/zhongxinqr.png" class="img-responsive" style="max-height:110px;margin: 0 auto;">
			</div>		
		</div>
		<div class="col-xs-6 col-sm-6 col-md-3 footer1_of_3">
			<p class="f_para">中国反兴奋剂中心版权所有</p>
			<p>中心官网:&nbsp;<span><a href="http://www.chinada.cn/">www.chinada.cn</a></span></p>
			<p>通讯地址:&nbsp;<span>北京市朝阳区安定路1号</span></p>
			<p>邮政编码:&nbsp;<span>100029</span></p>
			<p>联系电话:&nbsp;<span>010-64910444</span></p>
			<span class="">Email:&nbsp;<a href="mailto:edu@chinada.cn">edu@chinada.cn</a></span>
			<p><span>京ICP备13005414号-1版权所有</span></p>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-3 footer_of_3">
			<h4>相关链接</h4>
			<div class="blog_list">
				<div class="col-xs-12 f_pic">
					<a href="http://www.sport.gov.cn/">
						<img src="${cxt!}/images/zongju.png" alt="" class="img-responsive" style="max-height:40px;"/>
					</a>	
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="blog_list">
				<div class="col-xs-12 f_pic">
					<a href="https://www.wada-ama.org/">
						<img src="${cxt!}/images/wada_logo.png" alt="" class="img-responsive" style="max-height:50px;"/>
					</a>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="blog_list">
				<div class="col-xs-12 f_pic">
					<a href="http://sports.sina.com.cn/">
						<img src="${cxt!}/images/sinalogo.png" alt="" class="img-responsive"/ style="max-height:40px;">
					</a>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
</div>