<!-- h1>登录成功，欢迎回来${session["usrid"]}</h1-->  

<div class="header_bg" id="header_bg">
	<div class="header_bg1">
		<a href="${cxt!}/jf/puresport/pagesController" id="headbanner">
		<script>
			var index = Math.floor(Math.random()*4+1);
			var img_index = "headbanner"+index+".png";
			
			$("#headbanner").html("<img src='${cxt!}/images/"+img_index+"' class='img-responsive'>");
		</script>
			<!-- img src="${cxt!}/images/headbanner1.png" class="img-responsive"-->
		</a>
		<!--div class="container">
			<div class="row">
				<div class="header">
					<div class="logo">
						<h1><a href="${cxt!}/jf/puresport/pagesController">反兴奋剂在线教育平台</a></h1>
					</div>
				
				<div class="clearfix"></div>
			</div>
			<div class="grid_12">
		      <img src="${cxt!}/images/color_stripe.jpg" class="img-responsive" class="c_stripe">
		    </div>
			</div>
		</div-->
	</div>
	
	<div class="header_bg2" id="header_bg2">
		<div class="container">
			
			<div class="row">
				<div class="navbar-header">
			        <button type="button" style="color:#fff;background-color:#0065ac;" class="navbar-toggle" data-toggle="collapse"
			                data-target="#example-navbar-collapse">
			            	 <span class="glyphicon glyphicon-list"></span>功能模块
			        </button>
			        
			    </div>
			    
				<div class="h_menu_main collapse navbar-collapse" id="example-navbar-collapse">
						<!--a id="touch-menu" class="mobile-menu" href="#">功能模块</a--->
						<div>
							<ul class="menu_left nav navbar-nav">
				           
							<li id = "menu_zhunru"><a class="header_bg2_ul_li_a" href="${cxt!}/jf/puresport/pagesController"><img src="${cxt!}/images/zhunrubtn.png" class="img-responsive"></a></li>
							<li id = "menu_tuozhan"><a class="header_bg2_ul_li_a" href="${cxt!}/jf/puresport/pagesController/tuozhan_index"><img src="${cxt!}/images/tuozhanbtn.png" class="img-responsive"></a></li>
							<li id = "menu_jiangzuo"><a class="header_bg2_ul_li_a" href="${cxt!}/jf/puresport/pagesController/jiangzuo_index"><img src="${cxt!}/images/jiangzuobtn.png" class="img-responsive"></a></li>
				            <li id = "menu_ziyuan"><a class="header_bg2_ul_li_a" href="${cxt!}/jf/puresport/pagesController/resource_index"><img src="${cxt!}/images/ziyuanbtn.png" class="img-responsive"></a></li>
				           
				        	</ul>
						</div>
						<div>
							<ul class="menu_right nav navbar-nav">
								
								<li id = "menu_search"><a class="header_bg2_ul_li_a" href="#"><img src="${cxt!}/images/searchbtn.png" class="img-responsive"></a></li>
								<li id = "menu_about"><a class="header_bg2_ul_li_a" href="${cxt!}/jf/puresport/pagesController/about"><img src="${cxt!}/images/aboutbtn.png" class="img-responsive"></a></li>
					            <li class="dropdown selfcenterbtn">
					            
									<a class="dropdown-toggle header_bg2_ul_li_a" data-toggle="dropdown" href="#">
										
										<img src="${cxt!}/images/loginbtn.png" class="img-responsive">
									</a>
									<ul class="dropdown-menu" id="selfcenterbtn_id">
									
										
										<script>
										var usrid ='${session["usrid"]}';
										if(usrid)//已登陆
										{
											var which_competition ='${session["which_competition"]}';
											if(which_competition)											
												$("#selfcenterbtn_id").html("<li><a href='${cxt!}/jf/puresport/pagesController/selfcenter'>个人中心</a></li>"
											+"<li><a href='${cxt!}/jf/puresport/pagesController/loginout'>注销</a></li>");
											else
												$("#selfcenterbtn_id").html("<li><a href='${cxt!}/jf/puresport/pagesController/loginout'>注销</a></li>");
										}
										else{
											$("#selfcenterbtn_id").html("<li><a href='${cxt!}/jf/puresport/pagesController/login'>登录</a></li>");
										}
										</script>
										
									</ul>
								</li>
				        	</ul>
						</div>
					
				</div>
			</div>
		    
		</div>
	</div>
	<div class="header_bg2">
		<div class="container">
			
			<div class="row">
				<div id="search_box" style="display:none;margin-top: 5px;">
					<div class="input-group">
						<input type="text" class="form-control">
						<div class="input-group-btn">
							 <button type="button" class="btn btn-sm" style="padding-bottom: 8px;padding-top: 8px;">
					          	<span class="glyphicon glyphicon-search"></span>搜索
					        </button>
						</div>
					</div><!-- /input-group -->
				</div><!-- /.col-lg-6 -->
			</div>
		</div>
	</div>
	
	<div class="header_bg2 float_header_bg2 headroom--top" id="float_header_bg2">
		<div class="container">
			
			<div class="row">
				<div class="navbar-header">
			        <button type="button" style="color:#fff;background-color:#0065ac;" class="navbar-toggle" data-toggle="collapse"
			                data-target="#example-navbar-collapse">
			            	 <span class="glyphicon glyphicon-list"></span>功能模块
			        </button>
			        
			    </div>
			    
				<div class="h_menu_main collapse navbar-collapse" id="example-navbar-collapse">
						<!--a id="touch-menu" class="mobile-menu" href="#">菜单</a-->
						<div>
							<ul class="menu_left nav navbar-nav">
				           
							<li id = "menu_zhunru"><a class="header_bg2_ul_li_a" href="${cxt!}/jf/puresport/pagesController"><img src="${cxt!}/images/zhunrubtn.png" class="img-responsive"></a></li>
							<li id = "menu_tuozhan"><a class="header_bg2_ul_li_a" href="${cxt!}/jf/puresport/pagesController/tuozhan_index"><img src="${cxt!}/images/tuozhanbtn.png" class="img-responsive"></a></li>
							<li id = "menu_jiangzuo"><a class="header_bg2_ul_li_a" href="${cxt!}/jf/puresport/pagesController/jiangzuo_index"><img src="${cxt!}/images/jiangzuobtn.png" class="img-responsive"></a></li>
				            <li id = "menu_ziyuan"><a class="header_bg2_ul_li_a" href="${cxt!}/jf/puresport/pagesController/resource_index"><img src="${cxt!}/images/ziyuanbtn.png" class="img-responsive"></a></li>
				           
				        	</ul>
						</div>
						<!-- div>
							<ul class="menu_right nav navbar-nav">
				           
								<li id = "menu_search"><a class="header_bg2_ul_li_a" href="#"><img src="${cxt!}/images/searchbtn.png" class="img-responsive"></a></li>
								<li id = "menu_about"><a class="header_bg2_ul_li_a" href="${cxt!}/jf/puresport/pagesController/about"><img src="${cxt!}/images/aboutbtn.png" class="img-responsive"></a></li>
					            <li class="dropdown selfcenterbtn">
					            
									<a class="dropdown-toggle header_bg2_ul_li_a" data-toggle="dropdown">
										<img src="${cxt!}/images/loginbtn.png" class="img-responsive">
									</a>
									<ul class="dropdown-menu" id="selfcenterbtn_id">
									
										
										<script>
										var usrid ='${session["usrid"]}';
										if(usrid)//已登陆
										{
											$("#selfcenterbtn_id").html("<li><a href='${cxt!}/jf/puresport/pagesController/selfcenter'>个人中心</a></li>"
											+"<li><a href='${cxt!}/jf/puresport/pagesController/loginout'>注销</a></li>");
										}
										else{
											$("#selfcenterbtn_id").html("<li><a href='${cxt!}/jf/puresport/pagesController/login'>登录</a></li>");
										}
										</script>
										
									</ul>
								</li>
				        	</ul>
						</div-->
					
				</div>
			</div>
		    
		</div>
	</div>
	
</div>
<script src="${cxt!}/ui/headroom/headroom.js" type="text/javascript"></script>
<script>
$("#menu_search").click(function(){
	  $("#search_box").toggle();
});
//grab an element
var myElement = document.getElementById("float_header_bg2");

// construct an instance of Headroom, passing the element
var headroom  = new Headroom(myElement);
// initialise
headroom.init(); 
</script>