<!DOCTYPE HTML>
<html>
<head>
<title>个人中心</title>
<link rel="shortcut icon" href="${cxt!}/images/favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="反兴奋剂在线教育平台" />
<script type="application/x-javascript">
	
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 

</script>
<!-- Bootstrap -->
<link type="text/css" rel="stylesheet"
	href="${cxt!}/ui/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet"
	href="${cxt!}/ui/DataTables/datatables.min.css">
<link rel="stylesheet" href="${cxt!}/ui/layui/css/layui.css" media="all">
<link href="${cxt!}/css/style.css" rel="stylesheet" type="text/css"
	media="all" />
<link href="${cxt!}/css/owl.carousel.css" rel="stylesheet">
<link href="${cxt!}/css/owl.theme.css" rel="stylesheet">
<link rel="stylesheet" href="${cxt!}/fonts/css/font-awesome.min.css">

<!-- start plugins -->

<script type="text/javascript" src="${cxt!}/jsFile/md5.js"></script>
<script type="text/javascript" src="${cxt!}/js/jquery-1.11.1.min.js"></script>
<script src="${cxt!}/ui/DataTables/datatables.min.js"></script>
<script src="${cxt!}/ui/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="${cxt!}/ui/distpicker/distpicker-custom.js"></script>
<!-- <script src="${cxt!}/jsFile/echarts/echarts.min.js"></script> -->
<script src="${cxt!}/js/menu.js" type="text/javascript"></script>

<script type="text/javascript" src="${cxt!}/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="${cxt!}/js/jquery.mixitup.min.js"></script>
<script src="${cxt!}/js/owl.carousel.js"></script>


</head>
<body>
	<style>
#owl-demo .owl-item div {
	padding: 5px;
}

#owl-demo .owl-item img {
	display: block;
	width: 100%;
	height: auto;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.sidebar {
	/* position: fixed; */
	/* top: 60px; */
	/* bottom: 0; */
	/* left: 0; */
	z-index: 1000;
	display: block;
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #05506b;
	/* border-right: 1px solid #eee; */
}

.left_menu {
	background-color: #fff;
	padding: 0;
	padding-right: 5px;
}

.self_title {
	width: 100%;
	height: 56px;
	line-height: 56px;
	border-bottom: 1px solid #006980;
	font-size: 20px;
	color: #888888;
	font-weight: bold;
}

.text-center {
	text-align: center;
}

.dl-horizontal {
	margin: 20px auto 40px;
	color: #fff;
	width: 200px;
}

.dl-horizontal .self_photo {
	width: 98px;
	height: 128px;
	text-align: center;
}

.dl-horizontal .self_dd {
	margin-left: 115px;
	padding-top: 20px;
	font-size: 16px;
	color: #888888;
}

.layui-form-label {
	width: 100px;
}
.modal-title {
    display: inline;
}

td.details-control {
    background: url('${cxt!}/ui/DataTables/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('${cxt!}/ui/DataTables/details_close.png') no-repeat center center;
}

</style>
	<% include("/f/header.html"){} %>
	<!--div class="main_bg">
<div class="container">
	<div class="main_grid1">
		<h3 class="style pull-left">个人中心</h3>
		<ol class="breadcrumb pull-right">
		  <li><a href="${cxt!}/jf/puresport/pagesController">首页</a></li>
		  <li class="active">个人中心</li>
		</ol>
		<div class="clearfix"></div>
	</div>
</div>
</div-->

	<!-- start main_btm -->
	<div class="main_btm1">
		<!-- start main_btm -->
		<div class="container">
			<div class="row">
				<div class="col-sm-3 col-md-3 sidebar left_menu">
					<div class="self_info">
						<p class="self_title text-center">个人中心</p>
						<dl class="dl-horizontal">
							<dt class="self_photo">
								<div class="fileinput-new thumbnail"
									style="width: 100px; height: 100px; border: none; padding: 0;">
									<img src="${cxt!}/images/touxiang.png" id='picImg' alt="" />
								</div>
							</dt>
							<dd class="self_dd">
								<p class="user_name">${username}</p>
							</dd>
						</dl>
						<button type="button" class="btn  btn-lg btn-block reset_btn"
							data-toggle="modal" data-target="#passwordModal">重置密码</button>
						<button type="button" class="btn  btn-lg btn-block reset_btn"
							id="btn-update-userInfo" data-toggle="modal"
							data-target="#personInfoModal">修改个人信息</button>
						<a
							href="${cxt!}/jf/puresport/t7Crcl/queryCetifateList?usrid=${session['usrid']}"
							target="_blank" type="button"
							class="btn  btn-lg btn-block logout_btn" role="button">我的证书</a>
							
							<button type="button" class="btn  btn-lg btn-block reset_btn"
							id="btn-update-userInfo" data-toggle="modal"
							data-target="#queryCreditModal">证书查询</button>
							
							<button type="button" class="btn  btn-lg btn-block reset_btn"
							id="btn-update-userInfo" data-toggle="modal"
							data-target="#heroListModal">准入考试英雄榜</button>	
																			
													
							<a
							href="${cxt!}/jf/puresport/pagesController/loginout"
							type="button" class="btn  btn-lg btn-block logout_btn"
							role="button">注销</a>
					</div>
				</div>
				<div class="col-sm-9 col-md-9">
					<p class="self_title text-center">成绩</p>
					<div class="row" style="margin-top: 20px;">
						<div class="col-sm-10 col-md-10"
							style="width: 100%; background: #0065ac82;">
							<table id="score_excel" class="display" width="100%;"></table>
						</div>

					</div>
				</div>


			</div>
		</div>
	</div>
	<!-- start footer -->

<!-- tip2 Modal-->
	<div class="modal fade" id="heroListModal" tabindex="-1" role="dialog"
		aria-labelledby="tip1ModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
<!-- 				<div class="modal-header" align="center">
					<h5 class="modal-title">准入考试英雄榜</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div> -->
 <a
							href="${cxt!}/jf/puresport/t7Crcl/heroList100?type=0" target="_blank"
							type="button" class="btn  btn-lg btn-block logout_btn"
							role="button">省运会准入考试英雄榜</a> 
							
							<a
							href="${cxt!}/jf/puresport/t7Crcl/heroList100?type=1" target="_blank"
							type="button" class="btn  btn-lg btn-block logout_btn"
							role="button">亚运会准入考试英雄榜</a>
							<a
							href="${cxt!}/jf/puresport/t7Crcl/heroList100?type=2" target="_blank"
							type="button" class="btn  btn-lg btn-block logout_btn"
							role="button">青奥会准入考试英雄榜</a>
							<a
							href="${cxt!}/jf/puresport/t7Crcl/heroList100?type=3" target="_blank"
							type="button" class="btn  btn-lg btn-block logout_btn"
							role="button">军运会准入考试英雄榜</a>
							<a
							href="${cxt!}/jf/puresport/t7Crcl/heroList100?type=4" target="_blank"
							type="button" class="btn  btn-lg btn-block logout_btn"
							role="button">东京奥运会准入考试英雄榜</a>
							<a
							href="${cxt!}/jf/puresport/t7Crcl/heroList100?type=6" target="_blank"
							type="button" class="btn  btn-lg btn-block logout_btn"
							role="button">冬青奥会准入考试英雄榜</a>
							<a
							href="${cxt!}/jf/puresport/t7Crcl/heroList100?type=7" target="_blank"
							type="button" class="btn  btn-lg btn-block logout_btn"
							role="button">十四冬会会准入考试英雄榜</a>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	
	
	<!--system message modal-->
	<div class="modal fade" id="myModallyf" tabindex="-1" role="dialog"
		aria-labelledby="systemModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">提示</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body" id="myModallyf_content">密码修改成功，请返回重新登录</div>
				<div class="modal-footer" style="text-align: center;">
					<button class="btn  go_btn" type="button" data-dismiss="modal">完成</button>
				</div>
			</div>
		</div>
	</div>
	<!--password modify modal-->
	<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">重置密码</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-horizontal">
						<div class="col-sm-12" style="text-align: center; color: #e41818;">
							<h5 id="passwordModal_hint"
								style="text-align: center; color: red; display: none;"></h5>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label">旧密码</label>
							<div class="col-sm-9">
								<input type="password" id="resetPwd_oldPwd" class="form-control"
									placeholder="旧密码">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">新密码</label>
							<div class="col-sm-9">
								<input type="password" id="resetPwd_newPwd" class="form-control"
									placeholder="新密码">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">确认新密码</label>
							<div class="col-sm-9">
								<input type="password" id="resetPwd_newPwd_confirm"
									class="form-control" placeholder="确认新密码">
							</div>
						</div>

					</div>
				</div>
				<div class="modal-footer">
					<button class="btn  system_btn" id="resetPwd_btn"
						onclick="resetPwd('01')" type="button" data-toggle="modal">重置</button>
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="queryCreditModal" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content" style="min-width: 700px;">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">合格证书查询</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
						<div class="layui-form-item">
							<label class="layui-form-label">证书编号</label>
							<div class="layui-input-block">
								<input type="text" name="credit_no" id="credit_no"
									lay-verify="identity" value=''
									autocomplete="off" placeholder="证书编号" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">证件号码</label>
							<div class="layui-input-block">
								<input type="text" name="crdt_no" id="crdt_no"
									lay-verify="identity" value=''
									autocomplete="off" placeholder="身份证号" class="layui-input">
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<!-- 					<button class="btn btn-primay system_btn" id="resetPwd_btn"
						onclick="resetPwd('02')" type="button" data-toggle="modal">重置</button> -->
					<button class="btn  system_btn" id="resetPwd_btn"
						onclick="queryCredit()" type="button" data-toggle="modal">查询</button>
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">取消</button>

				</div>
			</div>
		</div>
	</div>

	<!--personInfoModal modify modal-->
	<div class="modal fade" id="personInfoModal" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content" style="min-width: 700px;">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">修改个人信息</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-horizontal">
						<div class="col-sm-12" style="text-align: center; color: #e41818;">
							<h5 id="myModallyf_content_user"
								style="text-align: center; color: red; display: none;"></h5>
						</div>
						<div id="user_Athlete">

							<form id="main" class="layui-form form-horizontal" action="" lay-filter="athleteForm">
							
								<div class="layui-form-item">
									<label class="layui-form-label" required>人员类型</label>
									<div class="layui-input-block">
										<input type="radio" name="usr_tp" value="运动员" title="运动员" checked="" lay-filter="filter_usr_tp">
										<input type="radio" name="usr_tp" value="辅助人员" title="辅助人员" lay-filter="filter_usr_tp">
									</div>
								</div>
					
								<div class="layui-form-item">
									<label class="layui-form-label" required>姓名</label>
									<div class="layui-input-block">
										<input type="text" name="nm" lay-verify="required|nm"
											autocomplete="off" placeholder="姓名"
											class="layui-input">
									</div>
								</div>
								
								<div class="layui-form-item">
									<label class="layui-form-label" required>姓名拼音</label>
									<div class="layui-input-block">
										<input type="text" name="nm_char" lay-verify="required|nm_char" 
											autocomplete="off" placeholder="应用于证书(如'张小明' 则格式为'Zhang XiaoMing')" class="layui-input">
									</div>
								</div>

								<div class="layui-form-item">
									<label class="layui-form-label" required>证件号码</label>
									<div class="layui-input-block">
										<input type="text" name="crdt_no" disabled=""
											lay-verify="identity" 
											autocomplete="off" placeholder="身份证号" class="layui-input">
									</div>
								</div>

								<div class="layui-form-item">
									<label class="layui-form-label" required>性别</label>
									<div class="layui-input-block">
										<input type="radio" name="gnd" value="男" title="男" checked="">
										<input type="radio" name="gnd" value="女" title="女">
									</div>
								</div>

								<div class="layui-form-item">
									<label class="layui-form-label" required>出生日期</label>
									<div class="layui-input-block">
										<input type="text" name="brth_dt" id="brth_dt"
											lay-verify="required|date" placeholder="请选择"
											autocomplete="off" class="layui-input">
									</div>
								</div>

								<div class="layui-form-item">
									<label class="layui-form-label" required>省/自治区/直辖市</label>
									<div class="layui-input-inline">
										<select name="province" id="selProvince" lay-verify="required"
											lay-filter="province"></select>
									</div>
									<label class="layui-form-label" required>市/区</label>
									<div class="layui-input-inline">
										<select name="city" id="selCity" lay-verify="required"
											lay-filter="city"></select>
									</div>

								</div>

								<div id="divSportor"  class="layui-form-item">
									<label class="layui-form-label" required>运动项目</label>

									<div class="layui-input-inline">
										<select name="spt_prj" lay-verify="required" lay-search>
										<option value="">请选择(或搜索)项目</option> 
											<%for (item in
											sport_items_of_shengyunhui){%>
											<option value=${item.name!}>${item.name!}</option> <%}%>
										</select>
									</div>
									<label class="layui-form-label" required>级别</label>
									<div class="layui-input-inline">
										<select name="typeleve" lay-verify="required">
											<option value="国家级">国家级(参加奥运会、亚运会等洲际赛事)</option>
											<!-- <option value="中心协会级">中心协会级</option> -->
											<option value="省级">省级(参加全运会、青运会等全国性赛事)</option>
											<option value="市级">市级(参加省运会及以下级别赛事)</option>
										</select>
									</div>
								</div>
								
								<div id="divAssistor" style="display: none;">
									<div class="layui-form-item">
										<label class="layui-form-label" required>工作单位</label>
										<div class="layui-input-block">
											<input type="text" name="department" 
												autocomplete="off" placeholder="工作单位" class="layui-input">
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label" required>职务</label>
										<div class="layui-input-block">
											<input type="text" name="post" 
												autocomplete="off" placeholder="职务" class="layui-input">
										</div>
									</div>
								</div>

								<div class="layui-form-item">
									<label class="layui-form-label" required>手机号码</label>
									<div class="layui-input-inline">
										<input type="text" name="mblph_no" lay-verify="required|phone"
											id="mblph_no"  autocomplete="off"
											placeholder="" class="layui-input">
									</div>

									<div class="layui-input-inline">
										<input type="text" name="mblphValCode" autocomplete="off"
											placeholder="修改需验证" class="layui-input">
									</div>

									<button type="button" style="width: 100px;"
										class="layui-btn layui-btn-normal layui-btn-sm"
										id="btn-val-phone">点击获取</button>
								</div>

								<div class="layui-form-item">
									<label class="layui-form-label" required>邮箱</label>
									<div class="layui-input-inline">
										<input type="text" name="email" lay-verify="required|email"
											id="email" autocomplete="off"
											placeholder="" class="layui-input">
									</div>

									<div class="layui-input-inline">
										<input type="text" name="emailValCode" autocomplete="off"
											placeholder="修改需验证" class="layui-input">
									</div>

									<button type="button" style="width: 100px;"
										class="layui-btn layui-btn-normal layui-btn-sm"
										id="btn-val-email">点击获取</button>
								</div>

								<div class="layui-form-item">
									<div class="layui-input-block">
										<button type="submit" class="layui-btn" lay-submit=""
											lay-filter="btn-submit-update"
											style="background-color: #0065ac; width: 80px;">提交</button>
										<button type="reset" class="layui-btn layui-btn-primary"
											data-dismiss="modal">返回</button>
									</div>
								</div>
							</form>

						</div>
						
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- tip2 Modal-->
	<div class="modal fade" id="tip2Modal" tabindex="-1" role="dialog"
		aria-labelledby="tip1ModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header" align="center">
					<h5 class="modal-title">友情提示</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" align="center">对不起，查询不到对应证书，请确认！</div>
				<div class="modal-footer" align="center">
					<button type="button" class="btn" data-dismiss="modal">确定</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	<!-- tip2 Modal-->
	<div class="modal fade" id="tip3Modal" tabindex="-1" role="dialog"
		aria-labelledby="tip1ModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header" align="center">
					<h5 class="modal-title">友情提示</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" align="center">证书查询成功！</div>
				<div class="modal-footer" align="center">
					<button type="button" class="btn" data-dismiss="modal">确定</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	
	
	
	
	<script type="text/javascript" src="${cxt!}/ui/layui/layui.all.js"></script>
	<script type="text/javascript" src="${cxt!}/js/userUtil.js"></script>
	<script type="text/javascript" src="${cxt!}/js/self-center.js"></script>

	<!-- start footer -->
	<% include("/f/footer.html"){} %>
	<script type="text/javascript">
		$(function() {
			var usrType = '${session["usr_tp"]}';
			var usrId = '${session["usrid"]}';

/* 			if (usrType == "运动员")//运动员
			{
				document.getElementById("user_Athlete").style.display = "block";
				document.getElementById("user_Assistant").style.display = "none";

			} else//辅助人员
			{
				document.getElementById("user_Assistant").style.display = "block";
				document.getElementById("user_Athlete").style.display = "none";
			} */

			initScoreTable(usrId);

		});

		function queryCredit() {
			var credit_no = document.getElementById("credit_no").value;
			var crdt_no = document.getElementById("crdt_no").value;
			if ("" == credit_no && "" == crdt_no) {
				alert("证书编号和身份证号不能全部为空，请输入!");
				return;
			}
			var url;
			url = '/jf/puresport/t7Crcl/queryCredit';
			$.ajax({
				type : 'POST',
				url : url,
				dataType : "json",
				traditional : true,
				data : {
					"credit_no" : credit_no,
					"crdt_no" : crdt_no
				},
				success : function(res) {
					if (res.code == "1000") {
						/* 	window.location.href = "${cxt!''}/jf/puresport/t7Crcl/showCredit?certificatePath_1="
									+ res.parm1; */
						//		$('#tip3Modal').modal('show');
						alert(res.desc);
						window.open(
								"${cxt!''}/jf/puresport/t7Crcl/showCredit?certificatePath_1="
										+ res.parm1, 'blank');

					} else if (res.code == "0001") {
						//$('#tip2Modal').modal('show');
						alert(res.desc);
						//		$('#tip2Modal').modal('show');
					} else {
						alert(res.desc);
					}
				},
				dataType : "json"
			});
		}
	</script>
</body>
</html>